<!-- 代扣银行 -->
<div class="pageFormContent">
	<div class="content100">
		<p>
			<label>代扣账户标志：</label>
			<span class="show">{$bank_flag_redio[$sdkb_info['SHOP_BANK_FLAG']]}</span>
		</p>
		<p>
			<label>账户卡折标志：</label>
			<if condition="$sdkb_info['SHOP_ACCT_FLAG'] eq 1">
				<span class="show">折</span>
			<else />
				<span class="show">卡</span>
			</if>
		</p>
		<if condition="$sdkb_info['SHOP_BANK_FLAG'] eq 0">
			<p>
				<label>户名：</label>
				<span class="show">{$sdkb_info.BANKACCT_NAME1}</span>
			</p>
			<p>
				<label>账号：</label>
				<span class="show">{$sdkb_info.BANKACCT_NO1}</span>
			</p>
			<p>
				<label>开户行：</label>
				<span class="show">{$sdkb_info.BANK_NAME1}</span>
			</p>
			<p>
				<label>代扣公司：</label>
				<span class="show">{$sdkb_info.DKCO_MAP_ID|get_dkco_name=###}</span>
			</p>
		<else />
			<p>
				<label>户名：</label>
				<span class="show">{$sdkb_info.BANKACCT_NAME2}</span>
			</p>
			<p>
				<label>账号：</label>
				<span class="show">{$sdkb_info.BANKACCT_NO2}</span>
			</p>
			<p>
				<label>开户行：</label>
				<span class="show">{$sdkb_info.BANK_NAME2}</span>
			</p>
			<p>
				<label>代扣公司：</label>
				<span class="show">{$sdkb_info.DKCO_MAP_ID|get_dkco_name=###}</span>
			</p>
		</if>
		<p>
			<label>代扣证件类型：</label>
			<span class="show">{:C('DK_IDNO_TYPE')[$sdkb_info['DK_IDNO_TYPE']]}</span>
		</p>
		<p>
			<label>代扣证件号码：</label>
			<span class="show">{$sdkb_info.DK_IDNO}</span>
		</p>
		<if condition="(__ACTNAME__ eq 'sdkb_check') or (__ACTNAME__ eq 'sdkb_recheck') or (__ACTNAME__ eq 'shop_check') or (__ACTNAME__ eq 'shop_recheck')">
			<p class="ic_line"></p>
			<p>
				<label>审阅标志：</label>
				<span class="show"><label style="text-align:left;"><input type="checkbox" name="is_pass" value="1" node-type="check_flag">已审阅</label></span>
			</p>
			<div class="clear"></div>
		</if>
		<div class="clear"></div>
	</div>
</div>