<div class="pageContent">
	<form action="__ACTION__/navTabId/__CONNAME__" method="post" name="form" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
		<input type="hidden" name="post[submit]" value="__ACTNAME__">
		<input type="hidden" name="post[CARD_NO_STR]" value="{$CARD_NO_STR}">
		<div class="pageFormContent" layoutH="{$Think.config.tk_max_add_lay}">
			<div class="content100">
				<p>
					<label>卡套餐修改为：</label>
					<select class="combox" name="post[CARD_P_MAP_ID]">
						<volist name="cardsel" id="vo">
							<option value="{$vo.CARD_P_MAP_ID}" <if condition="$CARD_P_MAP_ID eq $vo['CARD_P_MAP_ID']">selected</if>>{$vo.CARD_NAME}</option>
						</volist>
					</select>
				</p>
				<div class="clear"></div>
			</div>
		</div>
		<div class="formBar">
			<div class="f_r">
				<button class="ch-btn-skin ch-btn-small ch-icon-ok">确 定</button>
				<button class="ch-btn-skin ch-btn-small ch-icon-remove close">取 消</button>
			</div>
		</div>
	</form>
</div>
