<style>
.cinfo_l{width:50%;float:left;}
.pageFormContent label.lable_card{width:120px;}
/* 图片上传中的样式 */
div.upimgbtndiv{width:120px;float:left; margin: 0 10px;}
.uploadify-button{background-image: none;}
.uploadify:hover .uploadify-button{background-image: none;background-color: #324e75;}
</style>
<div class="pageContent">
	<form action="__ACTION__/navTabId/__CONNAME__" method="post" name="form" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
		<input type="hidden" name="post[submit]" value="__ACTNAME__">
		<gt name="info.VIP_ID" value="0">
			<input type="hidden" name="post[VIP_ID]" value="{$info.VIP_ID}">
		</gt>
		<div class="pageFormContent" layoutH="{$Think.config.tk_max_add_lay}">
			<div class="tabkuai1">
				<div class="content100">
					<p class="maxcombox5">
						<label>用户归属：</label>
						<span note-type="guishu">
							{:get_level_sel($info['BRANCH_MAP_ID'],'-1','plv[]',$info['PARTNER_MAP_ID'],3)}
						</span>
					</p>
					<p class="ic_line"></p>
					<div class="clear"></div>
				</div>
				<div class="cinfo_l">
					<div class="content100">					
						<p>
							<label>会员姓名：</label>
							<input type="text" value="{$info.VIP_NAME}" note-type="VIP_NAME" class="required" name="post[VIP_NAME]" maxlength="10"/>
						</p>
						<p>
							<label>证件类型：</label>
							<select class="combox" name="post[VIP_IDNOTYPE]" note-type="VIP_IDNOTYPE">
								<volist name="vip_idnotype" id="vo">
									<option value="{$key}" <if condition="($info['VIP_IDNOTYPE'] eq $key) and ($info['VIP_IDNOTYPE'] neq '')">selected</if>>{$vo}</option>
								</volist>
							</select>
						</p>
						<div class="clear"></div>
					</div>
				</div>
				<div class="cinfo_l">
					<div class="content100">
						<div class="f_l" style="height:68px">
							<label>实名认证：</label>
							<input type="hidden" name="post[ID_PHOTO_A]" value="{$info[ID_PHOTO][0]}">
							<input type="hidden" name="post[ID_PHOTO_B]" value="{$info[ID_PHOTO][1]}">
							<div class="upimgbtndiv">
								<a href="javascript:;" id='LP_ID' class="anniu ch-btn-skin ch-btn-small ch-icon-arrow-up">上 传</a>
							</div>
							<img id="ID_PHOTO_A" src="{$info[ID_PHOTO][0]|default='../../../Public/home/images/gszp.png'}" width="65" height="50">
							<img id="ID_PHOTO_B" src="{$info[ID_PHOTO][1]|default='../../../Public/home/images/gszp.png'}" width="65" height="50">
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="content50">				
					<p>
						<label>证件号码：</label>
						<input type="text" value="{$info.VIP_IDNO}" note-type="VIP_IDNO" class="ws18" name="post[VIP_IDNO]" maxlength="20"/>
					</p>
					<p>
						<label>会员生日：</label>
						<input type="text" value="{$info.VIP_BIRTHDAY}" note-type="VIP_BIRTHDAY" class="required date" name="post[VIP_BIRTHDAY]" readonly="true">
						<!-- <a class="inputDateButton f_l" href="#">选择</a> -->
					</p>
					<p>
						<label>手机号码：</label>
						<input type="text" value="{$info.VIP_MOBILE}" note-type="VIP_MOBILE" class="digits required" name="post[VIP_MOBILE]" maxlength="11"/>
					</p>
					<p>
						<label>会员性别：</label>
						<select class="combox" name="post[VIP_SEX]" note-type="VIP_SEX">
							<volist name="vip_sex" id="vo">
								<option value="{$key}" <if condition="($info['VIP_SEX'] eq $key) and ($info['VIP_SEX'] neq '')">selected</if>>{$vo}</option>
							</volist>
						</select>
					</p>
					<p style="width:100%">
						<label>所在城市：</label>
						{$info['VIP_CITY']|getcity_select=###,'post[VIP_CITY]'}
					</p>
					<div class="clear"></div>
				</div>
				<div class="content100">
					<p>
						<label>户口地址：</label>
						<input type="text" value="{$info.VIP_ADDRESS}" note-type="VIP_ADDRESS" class="ws416" name="post[VIP_ADDRESS]" maxlength="33"/>
					</p>
					<p>
						<label>会员邮箱：</label>
						<input type="text" value="{$info.VIP_EMAIL}" note-type="VIP_EMAIL" class="ws18 email_auto" name="post[VIP_EMAIL]" maxlength="30"/>
					</p>
					<div class="clear"></div>
				</div>
			</div>
			<div class="tabkuai2" style="display:none;">
				<div class="content100">
					<p>
						<label>绑实体卡：</label>
						<input type="hidden" name="post[VIP_CARD_FLAG]" value=""/>	<!-- 卡类型 -->
						<input type="text" name="post[CARD_NO]" note-type="CARD_NO" value="" class="ws18" maxlength="19"/>
						<font class="message">(输入实体卡卡号)</font>
					</p>
					<p>
						<label>卡套餐：</label>
						<span class="show" note-type="kataocan">--</span>
					</p>
					<p>
						<label>卡费：</label>
						<span class="show" note-type="kafei">--</span>
					</p>
					<p>
						<label>校验码：</label>
						<input type="text" value="" class="ws18 digits" name="post[CARD_CHECK]" note-type="CARD_CHECK" maxlength="6"/>
						<font class="message">（请输入卡背面校验码。如您持有的卡背面无校验码，请输入【123456】）</font>
					</p>
					<p style="width:100%"></p>
					<div class="clear"></div>
				</div>
				<div class="vbus_m">
					<div class="m1 f_l">
						<img src="__PUBLIC__/home/images/card01.png" height="200">
					</div>
					<div class="m2 f_l">
						<p>备注：</p>
						<p>1、预免卡：先免费发卡，然后通过会员消费时从会员所得积分中扣取一定的积分作为卡费，直至卡费全部扣完；</p>
						<p>2、收费卡：开卡时一次性收取卡费；</p>
						<p>3、卡校验码处必须填入校验码，否则将无法注册会员和发卡。这是为了您的权益和会员的信息安全，如有不便，敬请谅解！</p>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="formBar">
			<div class="f_r butt1">
				<a href="javascript:;" class="anniu ch-btn-skin ch-btn-small ch-icon-ok" onclick="downAction()">下一步</a>
				<button class="ch-btn-skin ch-btn-small ch-icon-remove close">取 消</button>
			</div>
			<div class="f_r butt2" style="display:none;">
				<a href="javascript:;" class="anniu ch-btn-skin ch-btn-small ch-icon-ok" onclick="upAction()">上一步</a>
				<a href="javascript:;" class="anniu ch-btn-skin ch-btn-small ch-icon-ok" onclick="checkSubmit()">确 定</a>
				<button class="ch-btn-skin ch-btn-small ch-icon-remove close">取 消</button>
			</div>
		</div>
	</form>
	<script type="text/javascript">
		//证件号码 初始化
		$(function($) {
			var idno = '{$info["VIP_IDNOTYPE"]}' ? '{$info["VIP_IDNOTYPE"]}' : 0;
			if(idno == 0){
				$('input[name="post[VIP_IDNO]"]').addClass('idcard');
			}
			$('input[name="post[VIP_IDNO]"]').addClass('required');
		});
		//========================================
		function checkEmail(str)   
	    {  
	    	var result = str.match(/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/); 
	    	if(result==null) return false;
			return true;
	    }  
	    function checkMobile(str)   
	    {
	    	var result = str.match(/^1[3|4|5|7|8]\d{9}$/); 
			if(result==null) return false;
			return true;
		}
		//下一步
		function downAction(){
			var dt = {};
			dt.checkbid 		= $('a[name="plv[]"]:first-child').text();
			dt.VIP_NAME 		= $('input[note-type="VIP_NAME"]').val();
			dt.VIP_IDNOTYPE 	= $('select[note-type="VIP_IDNOTYPE"]').val();
			dt.VIP_IDNO 		= $('input[note-type="VIP_IDNO"]').val();
			dt.VIP_BIRTHDAY 	= $('input[note-type="VIP_BIRTHDAY"]').val();
			dt.VIP_MOBILE 		= $('input[note-type="VIP_MOBILE"]').val();
			dt.VIP_SEX 			= $('select[note-type="VIP_SEX"]').val();
			dt.VIP_CITY 		= $('select[name="post[VIP_CITY]"]').val();
			dt.VIP_ADDRESS 		= $('input[note-type="VIP_ADDRESS"]').val();
			dt.VIP_EMAIL 		= $('input[note-type="VIP_EMAIL"]').val();
			var lv_obj = $('span[note-type="guishu"] select[name="plv[]"]');
			if (!lv_obj['2'].value) {
				alertMsg.error('请选择归属机构,且会员只能归属到区县服务中心！');
				return false;
			};
			/*if(dt.checkbid == '请选择请选择'){
				alertMsg.error('请选择归属机构！');
				return false;
			}*/
			if(!dt.VIP_NAME){
				alertMsg.error('请输入会员名称！');
				return false;
			}
			if(!dt.VIP_IDNO){
				alertMsg.error('请输入证件号码！');
				return false;
			}
			if(!dt.VIP_BIRTHDAY){
				alertMsg.error('请选择会员生日！');
				return false;
			}
			if(!dt.VIP_MOBILE){
				alertMsg.error('请输入会员手机！');
				return false;
			}
			if(!dt.VIP_CITY){
				alertMsg.error('请选择所在城市！');
				return false;
			}
			/*if(!dt.VIP_ADDRESS){
				alertMsg.error('请输入户口地址！');
				return false;
			}
			if(!dt.VIP_EMAIL){
				alertMsg.error('请输入会员邮箱！');
				return false;
			}
			if(!checkEmail(dt.VIP_EMAIL)){
				alertMsg.error('请输入正确的邮箱格式！');
				return false;
			}*/
			if(!checkMobile(dt.VIP_MOBILE)){
				alertMsg.error('请输入正确的手机号格式！');
				return false;
			}
			$.ajax({
				type: "POST",
				url: "__MODULE__/Public/checkVipadd",
				data: dt,
				success: function(_data){
					if(_data.state == 0){
						$('.tabkuai1').hide();
						$('.tabkuai2').show();
						$('.butt1').hide();
						$('.butt2').show();
					}else{
						alertMsg.error(_data.msg);
					}
			   }
			});
		}
		//上一步
		function upAction(){
			$('.tabkuai1').show();
			$('.tabkuai2').hide();
			$('.butt1').show();
			$('.butt2').hide();
		}
		//确定
		function checkSubmit(){
			var CARD_NO = $('input[note-type="CARD_NO"]').val(),
			CARD_CHECK  = $('input[note-type="CARD_CHECK"]').val();
			if(!CARD_NO){
				alertMsg.error('请选择输入卡号！');
				return false;
			}
			if(!CARD_CHECK){
				alertMsg.error('请选择输入卡号校验码！');
				return false;
			}
			$('form[name="form"]').submit();			
		}
			
		
		
		
		
		
		//证件类型
		$('select[name="post[VIP_IDNOTYPE]"]').on('change', function(){
			var num = $(this).val();
			if(num == 0){
				$('input[name="post[VIP_IDNO]"]').addClass('idcard');
			}else{
				$('input[name="post[VIP_IDNO]"]').removeClass('idcard');
			}	
		});
		
		//输入证件号的时候，同时输入 其它信息
		$('input[name="post[VIP_IDNO]"]').on('blur', function() {
			var type = $('select[name="post[VIP_IDNOTYPE]"]').val(),
				idno = $(this).val();
			if(type == 0){
				var city_no	= idno.substr(0, 6);				
				var Y 		= idno.substr(6, 4);
				var m 		= idno.substr(10, 2);
				var d 		= idno.substr(12, 2);
				var sex		= idno.substr(16, 1)%2==0 ? '0' : '1';
				$('input[name="post[VIP_BIRTHDAY]"]').val(Y+'-'+m+'-'+d);				
				var id = $('select[name="post[VIP_SEX]"]').parent().attr('id');
				$('a[name="post[VIP_SEX]"]').attr('value', sex).html(sex==1?'男':'女');
				$('select[name="post[VIP_SEX]"]').find('option').attr('selected', false);
				$('select[name="post[VIP_SEX]"]').find('option[value="'+sex+'"]').attr('selected', true);
				$('#op_'+id).find('.selected').removeClass('selected');
				$('#op_'+id).find('a[value="'+sex+'"]').addClass('selected');
			}
		});		
	
		//卡号检测
		$('input[name="post[CARD_NO]"]').on('blur', function(){
			var pare 	= $(this);
			var card_no = pare.val();			
			if(!!card_no) {
				$.ajax({
					type: "POST",
					url: "__MODULE__/Public/getvipcard_data",
					data: {card_no:card_no},
					success: function(_data){
						if(_data.state == 0){
							$('input[name="post[VIP_CARD_FLAG]"]').val(_data.result.CARD_P_MAP_ID);
							$('span[note-type="kataocan"]').html(_data.result.CARD_NAME);
							$('span[note-type="kafei"]').html(_data.result.CARD_OPENFEE+' 元');
						}else{
							alertMsg.error(_data.msg);
							$('input[name="post[VIP_CARD_FLAG]"]').val('');
							$('span[note-type="kataocan"]').html('--');
							$('span[note-type="kafei"]').html('--');
							pare.val('');
						}
				   }
				});
			}		
		});
		
		//上传图片
		var uploadify_onSelectError = function(file, errorCode, errorMsg) {
	        var msgText = "上传失败\n";
	        switch (errorCode) {
	            case SWFUpload.QUEUE_ERROR.QUEUE_LIMIT_EXCEEDED:
	                //this.queueData.errorMsg = "每次最多上传 " + this.settings.queueSizeLimit + "个文件";
	                msgText += "每次最多上传 " + this.settings.queueSizeLimit + "个文件";
	                break;
	            case SWFUpload.QUEUE_ERROR.FILE_EXCEEDS_SIZE_LIMIT:
	                msgText += "文件大小超过限制( " + this.settings.fileSizeLimit + " )";
	                break;
	            case SWFUpload.QUEUE_ERROR.ZERO_BYTE_FILE:
	                msgText += "文件大小为0";
	                break;
	            case SWFUpload.QUEUE_ERROR.INVALID_FILETYPE:
	                msgText += "文件格式不正确，仅限 " + this.settings.fileTypeExts;
	                break;
	            default:
	                msgText += "错误代码：" + errorCode + "\n" + errorMsg;
	        }
	        alert(msgText);
	    };		 
		var uploadify_onUploadError = function(file, errorCode, errorMsg, errorString) {
	        // 手工取消不弹出提示
	        if (errorCode == SWFUpload.UPLOAD_ERROR.FILE_CANCELLED
	                || errorCode == SWFUpload.UPLOAD_ERROR.UPLOAD_STOPPED) {
	            return;
	        }
	        var msgText = "上传失败\n";
	        switch (errorCode) {
	            case SWFUpload.UPLOAD_ERROR.HTTP_ERROR:
	                msgText += "HTTP 错误\n" + errorMsg;
	                break;
	            case SWFUpload.UPLOAD_ERROR.MISSING_UPLOAD_URL:
	                msgText += "上传文件丢失，请重新上传";
	                break;
	            case SWFUpload.UPLOAD_ERROR.IO_ERROR:
	                msgText += "IO错误";
	                break;
	            case SWFUpload.UPLOAD_ERROR.SECURITY_ERROR:
	                msgText += "安全性错误\n" + errorMsg;
	                break;
	            case SWFUpload.UPLOAD_ERROR.UPLOAD_LIMIT_EXCEEDED:
	                msgText += "每次最多上传 " + this.settings.uploadLimit + "个";
	                break;
	            case SWFUpload.UPLOAD_ERROR.UPLOAD_FAILED:
	                msgText += errorMsg;
	                break;
	            case SWFUpload.UPLOAD_ERROR.SPECIFIED_FILE_ID_NOT_FOUND:
	                msgText += "找不到指定文件，请重新操作";
	                break;
	            case SWFUpload.UPLOAD_ERROR.FILE_VALIDATION_FAILED:
	                msgText += "参数错误";
	                break;
	            default:
	                msgText += "文件:" + file.name + "\n错误码:" + errorCode + "\n"
	                        + errorMsg + "\n" + errorString;
	        }
	        alert(msgText);
	    }
		$('#LP_ID').uploadify({
			'height' 	    : '26px',
            'width'         : '100px', 
        	'formData'      : {
        		'userid'    : SETTING.USER_ID,
				'keyword'   : SETTING.KEYWORD
			},
            'swf'      		: '__PUBLIC__/dwz/uploadify/scripts/uploadify.swf',    //指定上传控件的主体文件
            'uploader' 		: '__MODULE__/Public/uploadimg/',    				   //指定服务器端上传处理文件
            //其他配置项
            'buttonText' 	: '上传图片',
            'buttonClass' 	: 'anniu ch-btn-skin ch-btn-small ch-icon-arrow-up uploadimage',
            'hideButton' 	: true,
            'auto'	   		: true,
            'multi'       	: true,
            'queueSizeLimit': 2,
            'fileTypeExts'  : '*.jpg;*.jpge;*.gif;*.png',
            'fileSizeLimit' : '2MB',
            'overrideEvents' : [ 'onDialogClose', 'onUploadError', 'onSelectError' ],
            'onInit': function () {                        //隐藏进度条
               $("#LP_ID-queue").hide();
            },
			'onUploadSuccess' : function(file, data, response) {
		 		var resjson = $.parseJSON(data),
		 			file_index = file.index%2;
		 		switch (file_index) {
		 			case 0:
		 				$('img[id="ID_PHOTO_A"]').attr('src',resjson.result);
		 				$('input[name="post[ID_PHOTO_A]"]').val(resjson.result);
		 			break;
		 			case 1:
			 			$('img[id="ID_PHOTO_B"]').attr('src',resjson.result);
			 			$('input[name="post[ID_PHOTO_B]"]').val(resjson.result);
		 			break;
		 		};
	        },
	        'onUploadError' : uploadify_onUploadError,
	        'onSelectError' : uploadify_onSelectError
        });
		$(".email_auto").mailAutoComplete({
			boxClass: "out_box", //外部box样式
			listClass: "list_box", //默认的列表样式
			focusClass: "focus_box", //列表选样式中
			markCalss: "mark_box", //高亮样式
			autoClass: false,
			textHint: true //提示文字自动隐藏
		});
	</script>
</div>