<form id="pagerForm" method="post" action="">
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="post[submit]" value="__ACTNAME__"/>
	<input type="hidden" name="post[BRANCH_MAP_ID]" value="{$postdata.BRANCH_MAP_ID}"/>
	<input type="hidden" name="post[PARTNER_MAP_ID]" value="{$postdata.PARTNER_MAP_ID}"/>
	<input type="hidden" name="post[CARD_NO]" value="{$postdata.CARD_NO}"/>
	<input type="hidden" name="post[VIP_IDNO]" value="{$postdata.VIP_IDNO}"/>
	<input type="hidden" name="post[VIP_MOBILE]" value="{$postdata.VIP_MOBILE}"/>
	<input type="hidden" id="exportdata" value="{$exportdata}"/><!-- Excel导出 -->
</form>
<div class="pageHeader">
	<form method="post" action="__ACTION__/navTabId/__CONNAME__" onsubmit="return navTabSearch(this);">
		<input type="hidden" name="post[submit]" value="__ACTNAME__">
		<div class="searchBar">
			<div class="header">
				<p class="maxcombox4">
					<label>会员归属：</label>
					{:get_level_sel($postdata['BRANCH_MAP_ID'],'-1','plv[]',$postdata['PARTNER_MAP_ID'],5)}
				</p>
				<div class="clear"></div>
				<p>
					<label>虚拟卡号：</label>
					<input class="input01 textInput" type="text" value="{$postdata.CARD_NO}" name="post[CARD_NO]" maxlength="19">
				</p>
				<p>
					<label>会员手机号：</label>
					<input class="input01 textInput" type="text" value="{$postdata.VIP_MOBILE}" name="post[VIP_MOBILE]" maxlength="11">
				</p>
				<div class="clear"></div>
			</div>
			<div class="hbtn">
				<button class="ch-btn-skin ch-btn-small ch-icon-search">查 询</button>
				<a rel="__CONNAME__" target="navTab" href="__ACTION__" res_title="false"><button class="ch-btn-skin ch-btn-small ch-icon-refresh">重 置</button></a>
			</div>
		</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar selbutton">
		{:getaction_select(__CONNAME__,__ACTNAME__)}
	</div>
	<table class="table" width="100%" layoutH="175">
		<thead>
			<tr>
				<th width="27%">归属</th>
				<th width="10%" align='center'>会员姓名</th>
				<th width="15%" align='center'>虚拟卡号</th>
				<th width="10%" align='center'>所在城市</th>
				<th width="8%" align='center'>性别</th>
				<th width="8%" align='center'>生日</th>
				<th width="8" align='center'>状态</th>
				<th width="14%" align='center'>创建日期</th>
			</tr>
		</thead>
		<tbody>
			<volist name='list' key="k" id='vo'>
				<tr target="sid_target" rel="{$vo.VIP_ID}" class="<if condition='$k%2 eq 1'>bg</if>">
					<td>{$vo.BRANCH_MAP_ID|get_branch_name=###,$vo['PARTNER_MAP_ID']}</td>
					<td>{$vo.VIP_NAME}</td>
					<td>{$vo.CARD_NO}</td>
					<td>{$vo.VIP_CITY|getcity_name=###,'1'}</td>
					<td>{$vip_sex[$vo[VIP_SEX]]}</td>
					<td>{$vo.VIP_BIRTHDAY}</td>
					<td>{$vip_status[$vo[VIP_STATUS]]}</td>
					<td>{$vo.CREATE_TIME}</td>
				</tr>
			</volist>
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages"><span><a class="statis" href="javascript:;" note-type="getstatis">点击查看统计</a></span></div>
		<div class="pagination" checkPage="1" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="10" currentPage="{$currentPage}"></div>
	</div>
	<script type="text/javascript">		
		//页面加载执行
		$(document).ready(function(){
			var	navsnum     = $('.tabsPageHeader .navTab-tab .selected').index();
			var tabscontent = $('.tabsPageContent .unitBox:eq('+navsnum+')');
			//点击查看统计
			tabscontent.find('a[note-type="getstatis"]').on('click',  function(){
				tabscontent.find('.pages').html('<span><img class="loading" src="__PUBLIC__/home/images/loading.gif">统计中...</span>');
				
				var	exportdata  = tabscontent.find('#exportdata').val();
				var url 	    = exportdata ? '__ACTION__' + exportdata + '&submit=__ACTNAME__&ajax=loading' : '__ACTION__?submit=__ACTNAME__&ajax=loading';
				$.ajaxSettings.global = false;		//关闭框架loading	
				$.getJSON(url, {}, function(_data) {
					tabscontent.find('.pages').html('<span>共 '+ _data.count +' 条</span>');
					$.ajaxSettings.global = true;	//开启框架loading	
				});
			});
		});
	</script>
</div>