<style>
.cinfo_l{width:50%;float:left;}
.pageFormContent label.lable_card{width:120px;}
</style>
<div class="pageContent">
	<form action="__ACTION__/navTabId/__CONNAME__" method="post" name="form" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
		<input type="hidden" name="post[submit]" value="__ACTNAME__">
		<input type="hidden" name="post[VIP_ID]" value="{$info.VIP_ID}">
		<input type="hidden" name="post[OLD_CARD_NO]" value="{$info.CARD_NO}">
		<input type="hidden" name="post[V_BRANCH_MAP_ID]" value="{$info.BRANCH_MAP_ID}">
		<input type="hidden" name="post[V_PARTNER_MAP_ID]" value="{$info.PARTNER_MAP_ID}">
		<div class="pageFormContent" layoutH="{$Think.config.tk_max_add_lay}">
			<include file="Member/vinfo_common_top" />		
			<div class="content100">
				<p class="ic_line"></p>
				<p>
					<label>绑实体卡：</label>
					<input type="hidden" name="post[VIP_CARD_FLAG]" value=""/>	<!-- 卡类型 -->
					<input type="text" name="post[CARD_NO]" value="" class="required ws18" maxlength="19"/>
					<font class="message">(输入实体卡卡号)</font>
				</p>
				<p>
					<label>卡套餐：</label>
					<span class="show" note-type="kataocan">--</span>
				</p>
				<p>
					<label>卡费：</label>
					<span class="show" note-type="kafei">--</span>
				</p>
				<p>
					<label>校验码：</label>
					<input type="text" value="" class="ws18 digits required" name="post[CARD_CHECK]" maxlength="6"/>
					<font class="message">（请输入卡背面校验码。如您持有的卡背面无校验码，请输入【123456】）</font>
				</p>
				<div class="clear"></div>
			</div>
		</div>
		<div class="formBar">
			<div class="f_r">
				<button class="ch-btn-skin ch-btn-small ch-icon-ok">确 定</button>
				<button class="ch-btn-skin ch-btn-small ch-icon-remove close">取 消</button>
			</div>
		</div>
	</form>
	<script type="text/javascript">	
		//卡号检测
		$('input[name="post[CARD_NO]"]').on('blur', function(){
			var pare 	= $(this);
			var card_no = pare.val();			
			if(!!card_no) {
				$.ajax({
					type: "POST",
					url: "__MODULE__/Public/getvipcard_data",
					data: {card_no:card_no},
					success: function(_data){
						if(_data.state == 0){
							$('input[name="post[VIP_CARD_FLAG]"]').val(_data.result.CARD_P_MAP_ID);							
							$('span[note-type="kataocan"]').html(_data.result.CARD_NAME);
							$('span[note-type="kafei"]').html(_data.result.CARD_OPENFEE+' 元');
						}else{
							alertMsg.error(_data.msg);
							$('input[name="post[VIP_CARD_FLAG]"]').val('');							
							$('span[note-type="kataocan"]').html('--');
							$('span[note-type="kafei"]').html('--');
							pare.val('');
						}
				   }
				});
			}		
		});
	</script>
</div>