<form id="pagerForm" method="post" action="">
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="post[submit]" value="__ACTNAME__"/>
	<input type="hidden" name="post[CREATE_TIME_A]" value="{$postdata.CREATE_TIME_A}"/>
	<input type="hidden" name="post[CREATE_TIME_B]" value="{$postdata.CREATE_TIME_B}"/>
	<input type="hidden" name="post[STATUS]" value="{$postdata.STATUS}"/>
	<input type="hidden" name="post[AMOUNT_A]" value="{$postdata.AMOUNT_A}"/>
	<input type="hidden" name="post[AMOUNT_B]" value="{$postdata.AMOUNT_B}"/>
	<input type="hidden" name="post[SHOP_NAME]" value="{$postdata.SHOP_NAME}"/>
	<input type="hidden" name="post[BANKACCT_NO]" value="{$postdata.BANKACCT_NO}"/>
	<input type="hidden" id="exportdata" value="{$exportdata}"/><!-- Excel导出 -->
</form>
<div class="pageHeader">
	<form method="post" action="__ACTION__/navTabId/__CONNAME__" onsubmit="return navTabSearch(this);">
		<input type="hidden" name="post[submit]" value="__ACTNAME__">
		<div class="searchBar">
			<div class="header">				
				<p>
					<span>
						<label>处理日期：</label>
						<input class="input01 textInput date f_l readonly" type="text" value="{$postdata.CREATE_TIME_A}" name="post[CREATE_TIME_A]" readonly="true">
						<a class="inputDateButton f_l" href="#">选择</a>
					</span>
					<code class="code"> ~ </code>
					<span>
						<input class="input01 textInput date f_l readonly" type="text" value="{$postdata.CREATE_TIME_B}" name="post[CREATE_TIME_B]" readonly="true">
						<a class="inputDateButton f_l" href="#">选择</a>
					</span>
					<span class="sta_day">
						<a href="javascript:;" note-type="seltime" begin="{$timedata.jintian_b}" end="{$timedata.jintian_n}">当日</a>
						<a href="javascript:;" note-type="seltime" begin="{$timedata.zuotian_b}" end="{$timedata.zuotian_n}">昨日</a>
						<a href="javascript:;" note-type="seltime" begin="{$timedata.benyue_b}" end="{$timedata.benyue_n}">本月</a>
						<a href="javascript:;" style="border:none;" note-type="seltime" begin="{$timedata.shangyue_b}" end="{$timedata.shangyue_n}">上月</a>
					</span>
				</p>
				<div class="clear"></div>
				<p>
					<label>处理结果：</label>
					<select class="combox" name="post[STATUS]">
						<option value="">请选择</option>
						<volist name="status" id="vo">
							<option value="{$key}" <if condition="($postdata['STATUS'] eq $key) and ($postdata['STATUS'] neq '')">selected</if>>{$vo}</option>
						</volist>
					</select>
				</p>
				<p>
					<label>提现金额：</label>
					<input class="input01 textInput f_l" type="text" value="{$postdata.AMOUNT_A}" name="post[AMOUNT_A]" maxlength="16">
					<code class="code"> ~ </code>
					<input class="input01 textInput f_l" type="text" value="{$postdata.AMOUNT_B}" name="post[AMOUNT_B]" maxlength="16">
				</p>
				<p>
					<label>商户名称：</label>
					<input class="input01 textInput" type="text" value="{$postdata.SHOP_NAME}" name="post[SHOP_NAME]" maxlength="12">
				</p>
				<div class="clear"></div>
				<p>
					<label>银行卡号：</label>
					<input class="input01 textInput" type="text" value="{$postdata.BANKACCT_NO}" name="post[BANKACCT_NO]" maxlength="12">
				</p>
				<div class="clear"></div>
				<p></p>
			</div>
			<div class="hbtn">
				<button class="ch-btn-skin ch-btn-small ch-icon-search">查 询</button>
				<a rel="__CONNAME__" target="navTab" href="__ACTION__" res_title="false"><button class="ch-btn-skin ch-btn-small ch-icon-refresh">重 置</button></a>
			</div>
		</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar selbutton">
		{:getaction_select(__CONNAME__,__ACTNAME__)}
		<div class="f_r">
			<span class="remark">备注：该功能用于查询商户的提现流水明细。</span>
		</div>
		<div class="clear"></div>
	</div>
	<table class="table" width="100%" layoutH="242">
		<thead>
			<tr>
				<th width="4%" >ID</th>
				<th width="4%" >商户ID</th>
				<th width="10%" >商户名称</th>
				<th width="10%" align='center'>开户行</th>
				<th width="16%" align='center'>银行卡号</th>
				<th width="10%" align='center'>订单号</th>
				<th width="10%" align='right'>提现金额</th>
				<th width="6%" align='right'>手续费</th>
				<th width="6%" align='center'>结果</th>
				<th width="10%" align='center'>申请时间</th>
				<th width="10%" align='center'>处理时间</th>
			</tr>
		</thead>
		<tbody>
			<volist name='list' key="k" id='vo'>
				<tr target="sid_target" rel="{$vo.ID}" class="<if condition='$k%2 eq 1'>bg</if>">
					<td>{$vo.ID}</td>
					<td>{$vo.SHOP_MAP_ID}</td>
					<td>{$vo.SHOP_NAME}</td>
					<td>{$vo.BANK_NAME}</td>
					<td>{$vo.BANKACCT_NO|setCard_no=###}</td>
					<td>{$vo.ORDER_NO}</td>
					<td>{$vo.AMOUNT|setMoney=###,2,2}</td>
					<td>{$vo.WD_FEE|setMoney=###,2,2}</td>
					<td>{$status[$vo[STATUS]]}</td>
					<td>{$vo.CREATE_TIME}</td>
					<td>{$vo.UPDATE_TIME}</td>
				</tr>
			</volist>
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages"><span>共 {$totalCount|default="0"} 条</span><span>　提现总额 {$amt|setMoney=###,2,2} 元</span></div>
		<div class="pagination" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="10" currentPage="{$currentPage}"></div>
	</div>
</div>
<script type="text/javascript">
	$('a[note-type="seltime"]').on('click',function(){
		var begin = $(this).attr('begin'),end = $(this).attr('end');
		$('input[name="post[CREATE_TIME_A]"]').val(begin);
		$('input[name="post[CREATE_TIME_B]"]').val(end);
	});
</script>