<?xml version="1.0" encoding="gbk"?>
<TXLife>
    <TXLifeRequest>
    	<TransRefGUID>{$data.TB_ID}</TransRefGUID>
        <TransType tc="103">New Business Submission</TransType>
        <TransMode tc="2">Original</TransMode>
        <OLifE>
            <Holding id="Holding_1">
                <Policy>
                    <ApplicantMode tc="1">自助</ApplicantMode>
                    <FeeStatus tc="1">OVERDUE</FeeStatus>
                    <ProductCode>BXHHYX</ProductCode>
                    <PlanName>百孝汇航意险</PlanName>
                    <PolNumber></PolNumber>
                    <EffDate>{:date('Y-m-d',strtotime('+1 day'))}</EffDate>
                    <BenefitPeriod />
                    <Life>
                        <GrossPremAmtITD />
                        <FaceUnits>1</FaceUnits>
                    </Life>
                    <ApplicationInfo>
                        <HOAppFormNumber></HOAppFormNumber>
                        <SubmissionDate>{:date('Y-m-d')}</SubmissionDate>
                        <SignedDate>{:date('Y-m-d')}</SignedDate>
                    </ApplicationInfo>
                </Policy>
            </Holding>
            <Relation OriginatingObjectID="Holding_1" RelatedObjectID="Party_1" id="Relation_1">
                <OriginatingObjectType tc="4">Holding</OriginatingObjectType>
                <RelatedObjectType tc="6">Party</RelatedObjectType>
                <RelationRoleCode tc="8">Owner</RelationRoleCode>
            </Relation>
            <Relation OriginatingObjectID="Holding_1" RelatedObjectID="Party_2" id="Relation_2">
                <OriginatingObjectType tc="4">Holding</OriginatingObjectType>
                <RelatedObjectType tc="6">Party</RelatedObjectType>
                <RelationRoleCode tc="32">Insured</RelationRoleCode>
            </Relation>
            <Relation OriginatingObjectID="Party_1" RelatedObjectID="Party_2" id="Relation_3">
                <OriginatingObjectType tc="6">Party</OriginatingObjectType>
                <RelatedObjectType tc="6">Party</RelatedObjectType>
                <RelationRoleCode tc="5">Self</RelationRoleCode>
            </Relation>
            <Party id="Party_1">
                <FullName>{$data.VIP_NAME}</FullName>
				<GovtID>{$data.VIP_IDNO}</GovtID>
				<GovtIDTC tc="1">中华人民共和国身份证</GovtIDTC>
				<Person>
                    <Gender tc="{$vipdata.VIP_SEX}">{$vipdata['SEX_NAME']}</Gender>
					<BirthDate>{$vipdata.VIP_BIRTHDAY}</BirthDate>
				</Person>
				<Address id="Address_1">
					<Line1>{$vipdata.VIP_ADDRESS}</Line1>
					<Zip />
				</Address>
				<Phone id="Phone_2">
					<PhoneTypeCode tc="12">12</PhoneTypeCode>
					<DialNumber>{$vipdata.VIP_MOBILE}</DialNumber>
					<Email>{$vipdata.VIP_EMAIL}</Email>
				</Phone>
            </Party>
            <Party id="Party_2">
				<FullName>{$data.VIP_NAME}</FullName>
				<GovtID>{$data.VIP_IDNO}</GovtID>
				<GovtIDTC tc="1">中华人民共和国身份证</GovtIDTC>
				<Person>
                    <Gender tc="{$vipdata.VIP_SEX}">{$vipdata['SEX_NAME']}</Gender>
					<BirthDate>{$vipdata.VIP_BIRTHDAY}</BirthDate>
				</Person>
				<Address id="Address_1">
					<Line1>{$vipdata.VIP_ADDRESS}</Line1>
					<Zip />
				</Address>
				<Phone id="Phone_2">
					<PhoneTypeCode tc="12">12</PhoneTypeCode>
					<DialNumber>{$vipdata.VIP_MOBILE}</DialNumber>
					<Email>{$vipdata.VIP_EMAIL}</Email>
				</Phone>
			</Party>
        </OLifE>
         <OLifEExtension VendorCode="1">
            <CarrierCode>PICC</CarrierCode>
            <Branch>1940303</Branch>
            <AgencyCode>19410215</AgencyCode>
            <Teller></Teller>
            <BankCode>ZJJFB</BankCode>
        </OLifEExtension>
    </TXLifeRequest>
</TXLife>