<?xml version="1.0" encoding="gbk"?>
<TXLife>
    <TXLifeRequest>
        <TransRefGUID>1603101544168936</TransRefGUID>
        <TransType tc="103">New Business Submission</TransType>
        <TransMode tc="2">Original</TransMode>
        <OLifE>
            <Holding id="Holding_1">
                <Policy>
                    <ApplicantMode tc="1">自助</ApplicantMode>
                    <FeeStatus tc="1">OVERDUE</FeeStatus>
                    <ProductCode>BXHHYX</ProductCode>
                    <PlanName>百孝汇航意险</PlanName>
                    <PolNumber />
                    <EffDate>2016-03-11</EffDate>
                    <BenefitPeriod />
                    <Life>
                        <GrossPremAmtITD />
                        <FaceUnits>1</FaceUnits>
                    </Life>
                    <ApplicationInfo>
                        <HOAppFormNumber />
                        <SubmissionDate>2016-03-10</SubmissionDate>
                        <SignedDate>2016-03-10</SignedDate>
                    </ApplicationInfo>
                </Policy>
            </Holding>
            <Relation OriginatingObjectID="Holding_1" RelatedObjectID="Party_1" id="Relation_1">
                <OriginatingObjectType tc="4">Holding</OriginatingObjectType>
                <RelatedObjectType tc="6">Party</RelatedObjectType>
                <RelationRoleCode tc="8">Owner</RelationRoleCode>
            </Relation>
            <Relation OriginatingObjectID="Holding_1" RelatedObjectID="Party_2" id="Relation_2">
                <OriginatingObjectType tc="4">Holding</OriginatingObjectType>
                <RelatedObjectType tc="6">Party</RelatedObjectType>
                <RelationRoleCode tc="32">Insured</RelationRoleCode>
            </Relation>
            <Relation OriginatingObjectID="Party_1" RelatedObjectID="Party_2" id="Relation_3">
                <OriginatingObjectType tc="6">Party</OriginatingObjectType>
                <RelatedObjectType tc="6">Party</RelatedObjectType>
                <RelationRoleCode tc="5">Self</RelationRoleCode>
            </Relation>
            <Party id="Party_1">
                <FullName>曾志威</FullName>
                <GovtID>441522198907175330</GovtID>
                <GovtIDTC tc="1">中华人民共和国身份证</GovtIDTC>
                <Person>
                    <Gender tc="1">男</Gender>
                    <BirthDate>1989-07-17</BirthDate>
                </Person>
                <Address id="Address_1">
                    <Line1></Line1>
                    <Zip />
                </Address>
                <Phone>
                    <PhoneTypeCode tc="12">12</PhoneTypeCode>
                    <DialNumber>13713421482</DialNumber>
                    <Email>124096465@qq.com</Email>
                </Phone>
            </Party>
            <Party id="Party_2">
                <FullName>曾志威</FullName>
                <GovtID>441522198907175330</GovtID>
                <GovtIDTC tc="1">中华人民共和国身份证</GovtIDTC>
                <Person>
                    <Gender tc="1">男</Gender>
                    <BirthDate>1989-07-17</BirthDate>
                </Person>
                <Address id="Address_1">
                    <Line1></Line1>
                    <Zip />
                </Address>
                <Phone>
                    <PhoneTypeCode tc="12">12</PhoneTypeCode>
                    <DialNumber>13713421482</DialNumber>
                    <Email>124096465@qq.com</Email>
                </Phone>
            </Party>
        </OLifE>
        <OLifEExtension VendorCode="1">
            <CarrierCode>PICC</CarrierCode>
            <Branch>1940303</Branch>
            <AgencyCode>19410215</AgencyCode>
            <BankCode>ZJJFB</BankCode>
        </OLifEExtension>
    </TXLifeRequest>
</TXLife>