<style>
	div.upimgbtndiv{cursor: pointer;display: inline-block;vertical-align:top;}
	div.upimgbtndiv .uploadify{margin-bottom:0;}
	.uploadify-button{background-image: none;background-color: #324e75;}
	div.upimgbtndiv .uploadify-button{height: 17px;}
	.uploadify:hover .uploadify-button{background-image: none;background-color: #324e75;}
</style>
<form id="pagerForm" method="post" action="">
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="post[submit]" value="__ACTNAME__"/>
	<input type="hidden" name="post[pid]" value="{$postdata.pid}"/>
	<input type="hidden" name="post[bid]" value="{$postdata.bid}"/>
	<input type="hidden" name="post[SYSTEM_DATE_A]" value="{$postdata.SYSTEM_DATE_A}"/>
	<input type="hidden" name="post[SYSTEM_DATE_B]" value="{$postdata.SYSTEM_DATE_B}"/>
	<input type="hidden" name="post[SECURITY_MAP_ID]" value="{$postdata.SECURITY_MAP_ID}"/>
	<input type="hidden" name="post[TB_FLAG]" value="{$postdata.TB_FLAG}"/>
	<input type="hidden" name="post[TB_FLAG1]" value="{$postdata.TB_FLAG1}"/>
	<input type="hidden" name="post[TB_DEL_FLAG]" value="{$postdata.TB_DEL_FLAG}"/>
	<input type="hidden" name="post[ONLINE_FLAG]" value="{$postdata.ONLINE_FLAG}"/>
	<input type="hidden" name="post[VIP_MOBILE]" value="{$postdata.VIP_MOBILE}"/>
	<input type="hidden" name="post[VIP_CARDNO]" value="{$postdata.VIP_CARDNO}"/>
	<input type="hidden" name="post[VIP_IDNO]" value="{$postdata.VIP_IDNO}"/>
	<input type="hidden" name="post[TB_NO]" value="{$postdata.TB_NO}"/>
	<input type="hidden" name="post[JFB_SECU_REF]" value="{$postdata.JFB_SECU_REF}"/>
	<input type="hidden" name="post[VIP_FLAG]" value="{$postdata.VIP_FLAG}"/>
	<input type="hidden" id="exportdata" value="{$exportdata}"/><!-- Excel导出 -->
</form>
<div class="pageHeader">
	<form method="post" action="__ACTION__/navTabId/__CONNAME__" onsubmit="return navTabSearch(this);">
		<input type="hidden" name="post[submit]" value="__ACTNAME__">
		<div class="searchBar">
			<div class="header">
				<p>
					<span>
						<label>投保日期：</label>
						<input class="input01 textInput date f_l readonly ws14" type="text" value="{$postdata.SYSTEM_DATE_A}" name="post[SYSTEM_DATE_A]" readonly="true">
						<a class="inputDateButton f_l" href="#">选择</a>
					</span>
					<code class="code"> ~ </code>
					<span>
						<input class="input01 textInput date f_l readonly ws14" type="text" value="{$postdata.SYSTEM_DATE_B}" name="post[SYSTEM_DATE_B]" readonly="true">
						<a class="inputDateButton f_l" href="#">选择</a>
					</span>
				</p>
				<p class="maxcombox3">
					<label>　　归属：</label>
					{:get_level_sel($postdata['bid'],'-1','soplv[]',$postdata['pid'],3)}
				</p>
				<div class="clear"></div>
				<p class="maxcombox4">
					<label>保险公司：</label>
					<select class="combox" name="post[SECURITY_MAP_ID]">
						<option value="">请选择</option>
						<volist name="sec_sel" id="vo">
							<option value="{$vo.SECURITY_MAP_ID}" <eq name="postdata['SECURITY_MAP_ID']" value="$vo['SECURITY_MAP_ID']">selected</eq>>{$vo.SECURITY_NAME}</option>
						</volist>
					</select>
				</p>
				<p>
					<label>投保状态：</label>
					<select class="combox" name="post[TB_FLAG]">
						<option value="">请选择</option>
						<volist name="TB_FLAG" id="vo">
							<gt name="key" value="1">
								<option value="{$key}" <if condition="($postdata['TB_FLAG'] eq $key) and ($postdata['TB_FLAG'] neq '') " >selected</if>>{$vo}</option>
							</gt>
						</volist>
					</select>
				</p>
				<p>
					<label>投保结果：</label>
					<select class="combox" name="post[TB_FLAG1]">
						<option value="">请选择</option>
						<volist name="TB_FLAG" id="vo">
							<lt name="key" value="2">
								<option value="{$key}" <if condition="($postdata['TB_FLAG1'] eq $key) and ($postdata['TB_FLAG1'] neq '') " >selected</if>>{$vo}</option>
							</lt>
						</volist>
					</select>
				</p>
				<p>
					<label>移除标志：</label>
					<select class="combox" name="post[TB_DEL_FLAG]">
						<option value="">请选择</option>
						<volist name="TB_DEL_FLAG" id="vo">
							<option value="{$key}" <if condition="($postdata['TB_DEL_FLAG'] eq $key) and ($postdata['TB_DEL_FLAG'] neq '') " >selected</if>>{$vo}</option>
						</volist>
					</select>
				</p>
				<p>
					<label>投保方式：</label>
					<select class="combox" name="post[ONLINE_FLAG]">
						<option value="">请选择</option>
						<volist name="ONLINE_FLAG" id="vo">
							<option value="{$key}" <if condition="($postdata['ONLINE_FLAG'] eq $key) and ($postdata['ONLINE_FLAG'] neq '') " >selected</if>>{$vo}</option>
						</volist>
					</select>
				</p>
				<p>
					<label>会员手机：</label>
					<input class="input01 textInput" type="text" value="{$postdata.VIP_MOBILE}" name="post[VIP_MOBILE]">
				</p>
				<p>
					<label>投保单号：</label>
					<input class="input01 textInput" type="text" value="{$postdata.TB_NO}" name="post[TB_NO]">
				</p>
				<p>
					<label>投保批次：</label>
					<input class="input01 textInput" type="text" value="{$postdata.JFB_SECU_REF}" name="post[JFB_SECU_REF]">
				</p>
				<p>
					<label>会员卡号：</label>
					<input class="input01 textInput" type="text" value="{$postdata.VIP_CARDNO}" name="post[VIP_CARDNO]">
				</p>
				<p>
					<label>身份证号：</label>
					<input class="input01 textInput" type="text" value="{$postdata.VIP_IDNO}" name="post[VIP_IDNO]">
				</p>
				<p>
					<label>卡片套餐：</label>
					<select class="combox" name="post[VIP_FLAG]">
						<option value="">请选择</option>
						<volist name="cardsel" id="vo">
							<option value="{$vo.CARD_P_MAP_ID}" <if condition="($postdata['VIP_FLAG'] eq $vo['CARD_P_MAP_ID']) and ($postdata['VIP_FLAG'] neq '') " >selected</if>>{$vo.CARD_NAME}</option>
						</volist>
					</select>
				</p>
				<div class="clear"></div>
			</div>
			<div class="hbtn">
				<button class="ch-btn-skin ch-btn-small ch-icon-search">查 询</button>
				<a rel="__CONNAME__" target="navTab" href="__ACTION__" res_title="false"><button class="ch-btn-skin ch-btn-small ch-icon-refresh">重 置</button></a>
			</div>
		</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar selbutton">
		{:getaction_select(__CONNAME__,__ACTNAME__)}
	</div>
	<table class="table" width="100%" layoutH="242">
		<thead>
			<tr>
				<th width="3%" align='center'><input type="checkbox" class="checkboxCtrl" group="TB_ID[]"></th>
				<th width="6%" align='center'>投保批次</th>
				<th width="14%" align='left'>归属</th>
				<th width="6%" align='center'>会员姓名</th>
				<th width="8%" align='center'>手机号</th>
				<th width="6%" align='center'>投保金额</th>
				<th width="4%" align='center'>状态</th>
				<th width="6%" align='center'>移除标志</th>
				<th width="6%" align='center'>投保结果</th>
				<th width="13%" align='center'>保险公司</th>
				<th width="10%" align='center'>保单号</th>
				<th width="6%" align='center'>投保方式</th>
				<th width="7%" align='center'>投保日期</th>
			</tr>
		</thead>
		<tbody>
			<volist name='list' key="k" id='vo'>
				<tr target="sid_target" rel="{$vo.TB_ID}" class="<if condition='$k%2 eq 1'>bg</if>">
					<td><input type="checkbox" value="{$vo.TB_ID}" class="checkboxval" name="TB_ID[]"></td>
					<td>{$vo.JFB_SECU_REF}</td>
					<td>{$vo.BRANCH_MAP_ID|get_branch_name=###,$vo['PARTNER_MAP_ID']}</td>
					<td>{$vo.VIP_NAME}</td>
					<td>{$vo.VIP_MOBILE}</td>
					<td>{$vo.TB_AMT|setMoney=###, '2', '2'}</td>
					<td>{$TB_FLAG[$vo['TB_FLAG']]}</td>
					<td>
						<if condition="($vo['TB_DEL_FLAG'] eq '1')" >
							<font color="red">移除</font>
						<else />
							参保
						</if>
					</td>
					<td>
						<if condition="($vo['TB_FLAG'] eq '1')" >
							失败
						<elseif condition="($vo['TB_FLAG'] eq '0')" />
							成功
						<elseif condition="($vo['TB_FLAG'] eq '5')" />
							<font color="red">已撤销</font>
						<else />
							-
						</if>
					</td>
					<td>{$vo.SECURITY_MAP_ID|get_security_name=###}</td>
					<td>{$vo.TB_NO}</td>
					<td>{$ONLINE_FLAG[$vo['ONLINE_FLAG']]}</td>
					<td>{$vo.TB_TIME}</td>
				</tr>
			</volist>
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages">
			<span>共 {$totalCount|default="0"} 条</span>
			<span>  {$total_str}</span>
		</div>
		<div class="pagination" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="10" currentPage="{$currentPage}"></div>
	</div>
	<script>
		var uploadify_onSelectError = function(file, errorCode, errorMsg) {
	        var msgText = "上传失败\n";
	        switch (errorCode) {
	            case SWFUpload.QUEUE_ERROR.QUEUE_LIMIT_EXCEEDED:
	                //this.queueData.errorMsg = "每次最多上传 " + this.settings.queueSizeLimit + "个文件";
	                msgText += "每次最多上传 " + this.settings.queueSizeLimit + "个文件";
	                break;
	            case SWFUpload.QUEUE_ERROR.FILE_EXCEEDS_SIZE_LIMIT:
	                msgText += "文件大小超过限制( " + this.settings.fileSizeLimit + " )";
	                break;
	            case SWFUpload.QUEUE_ERROR.ZERO_BYTE_FILE:
	                msgText += "文件大小为0";
	                break;
	            case SWFUpload.QUEUE_ERROR.INVALID_FILETYPE:
	                msgText += "文件格式不正确，仅限 " + this.settings.fileTypeExts;
	                break;
	            default:
	                msgText += "错误代码：" + errorCode + "\n" + errorMsg;
	        }
	        alert(msgText);
	    };
		 
		var uploadify_onUploadError = function(file, errorCode, errorMsg, errorString) {
	        // 手工取消不弹出提示
	        if (errorCode == SWFUpload.UPLOAD_ERROR.FILE_CANCELLED || errorCode == SWFUpload.UPLOAD_ERROR.UPLOAD_STOPPED) {
	            return;
	        }
	        var msgText = "上传失败\n";
	        switch (errorCode) {
	            case SWFUpload.UPLOAD_ERROR.HTTP_ERROR:
	                msgText += "HTTP 错误\n" + errorMsg;
	                break;
	            case SWFUpload.UPLOAD_ERROR.MISSING_UPLOAD_URL:
	                msgText += "上传文件丢失，请重新上传";
	                break;
	            case SWFUpload.UPLOAD_ERROR.IO_ERROR:
	                msgText += "IO错误";
	                break;
	            case SWFUpload.UPLOAD_ERROR.SECURITY_ERROR:
	                msgText += "安全性错误\n" + errorMsg;
	                break;
	            case SWFUpload.UPLOAD_ERROR.UPLOAD_LIMIT_EXCEEDED:
	                msgText += "每次最多上传 " + this.settings.uploadLimit + "个";
	                break;
	            case SWFUpload.UPLOAD_ERROR.UPLOAD_FAILED:
	                msgText += errorMsg;
	                break;
	            case SWFUpload.UPLOAD_ERROR.SPECIFIED_FILE_ID_NOT_FOUND:
	                msgText += "找不到指定文件，请重新操作";
	                break;
	            case SWFUpload.UPLOAD_ERROR.FILE_VALIDATION_FAILED:
	                msgText += "参数错误";
	                break;
	            default:
	                msgText += "文件:" + file.name + "\n错误码:" + errorCode + "\n"
	                        + errorMsg + "\n" + errorString;
	        }
	        alert(msgText);
	    }
		//文件上传
		$('#EXCEL_pendetail').uploadify({
			'height' 	    : '26px',
            'width'         : '86px', 
        	'formData'      : {
        		'userid'    : SETTING.USER_ID,
				'keyword'   : SETTING.KEYWORD,
				'type'   	: 2,
				'action'  	: 'fcarddetail_include',
			},
            'swf'      		: '__PUBLIC__/dwz/uploadify/scripts/uploadify.swf',    //指定上传控件的主体文件
            'uploader' 		: '__MODULE__/Public/uploadComeFile/',    		   //指定服务器端上传处理文件
            //其他配置项
            'buttonText' 	: '&nbsp;&nbsp;导 入',
            'buttonClass' 	: 'ch-btn-skin ch-btn-small ch-icon-arrow-up uploadimage',
            'hideButton' 	: true,
            'auto'	   		: true,
            'multi'       	: false,
            'fileTypeExts'  : '*.xls',
            'fileSizeLimit' : '2MB',
            'overrideEvents' : [ 'onDialogClose', 'onUploadError', 'onSelectError' ],
            'onInit': function () {                        //隐藏进度条
               $("#EXCEL_pendetail-queue").hide();
            },
			'onUploadSuccess' : function(file, data, response) {
		 		var resjson = $.parseJSON(data);
				alert(resjson.msg);
	        },
	        'onUploadError' : uploadify_onUploadError,
	        'onSelectError' : uploadify_onSelectError
        });
	</script>
</div>