<div class="pageContent">
	<form action="__ACTION__/navTabId/__CONNAME__" method="post" name="form" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
		<input type="hidden" name="makecard[submit]" value="__ACTNAME__">
		<div class="pageFormContent" layoutH="{$Think.config.tk_max_add_lay}">
			<div class="content100">
				<p>
					<label>归属机构：</label>
					<span class="show">{$info.PARTNER_MAP_ID|get_level_name=###,$info['BRANCH_MAP_ID']}</span>
				</p>
				<p>
					<label>会员姓名：</label>
					<span class="show">{$info.VIP_NAME}</span>
				</p>
				<div class="clear"></div>
			</div>
			<div class="content50">
				<p>
					<label>身份证号：</label>
					<span class="show">{$info.VIP_IDNO}</span>
				</p>
				<p>
					<label>会员生日：</label>
					<span class="show">{$vip_info.VIP_BIRTHDAY}</span>
				</p>
				<p>
					<label>手机号码：</label>
					<span class="show">{$info.VIP_MOBILE}</span>
				</p>
				<p>
					<label>会员性别：</label>
					<span class="show">{:C('VIP_SEX')[$vip_info['VIP_SEX']]}</span>
				</p>
			</div>
			<div class="content100">
				<p>
					<label>家庭地址：</label>
					<span class="show">{$vip_info.VIP_CITY|getcity_name=###} {$vip_info.VIP_ADDRESS}</span>
				</p>
				<div class="clear"></div>
				<p>
					<label>会员邮箱：</label>
					<span class="show">{$info.VIP_EMAIL}</span>
				</p>
				<p class="ic_line"></p>
			</div>
			<div class="content50">
				<p>
					<label>投保状态：</label>
					<span class="show">{:C('TB_FLAG')[$info['TB_FLAG']]}</span>
				</p>
				<p>
					<label>投保日期：</label>
					<span class="show">{$info.TB_TIME}</span>
				</p>
				<p>
					<label>移除标志：</label>
					<span class="show">{:C('TB_DEL_FLAG')[$info['TB_DEL_FLAG']]}</span>
				</p>
				<p>
					<label>投保批次：</label>
					<span class="show">{$info.JFB_SECU_REF}</span>
				</p>
				<p>
					<label>投保方式：</label>
					<span class="show">{:C('ONLINE_FLAG')[$info['ONLINE_FLAG']]}</span>
				</p>
				<p>
					<label>投保总额：</label>
					<span class="show"><font color="red">{$info.TB_AMT|setMoney=###, '2', '2'}</font> 元</span>
				</p>
				<p>
					<label>投保结果：</label>
					<span class="show"><if condition="($info['TB_FLAG'] eq '1')" >失败<elseif condition="($info['TB_FLAG'] eq '0')" />成功<else />-</if></span>
				</p>
				<p class="ic_line"></p>
				<p>
					<label>保险公司：</label>
					<span class="show">{$info.SECURITY_NAME}</span>
				</p>
				<p>
					<label>投保单号：</label>
					<span class="show">{$info.TB_NO}</span>
				</p>
				<div class="clear"></div>
			</div>
			<div class="content100">
				<p>
					<label>备注：</label>
					<span class="show" style="width: 600px">{$info.TB_DESC}</span>
				</p>
			</div>
		</div>
		<div class="formBar">
			<div class="f_r">
				<button class="ch-btn-skin ch-btn-small ch-icon-remove close">关 闭</button>
			</div>
		</div>
	</form>	
</div>