<div class="pageHeader"></div>
<div class="pageContent">
	<div class="panelBar selbutton">
		<a href="{:U('/Home/System/menu_add/navTabId/__CONNAME__')}" width="{$Think.config.tk_max_w}" height="{$Think.config.tk_max_h}" target="dialog" mask="true"><button class="ch-btn-skin ch-btn-small ch-icon-plus">添 加</button></a>
		<a href="javascript:;" onclick="$('#menu_sort').submit();"><button class="ch-btn-skin ch-btn-small ch-icon-wrench">排 序</button></a>
	</div>
	<form id="menu_sort" action="{:U('/Home/System/menu_sort/navTabId/__CONNAME__')}" method="post" name="form" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
		<table class="table" width="100%" layoutH="81">
			<thead>
				<tr>
					<th width="8%" align='center'></th>
					<th width="25%" >菜单名称</th>
					<th width="9%" >节点</th>
					<th width="25%" >动作</th>
					<th width="5%" align='center'>状态</th>
					<th width="5%" align='center'>类型</th>
					<th width="5%" align='center'>显示</th>
					<th width="18%" align='center'>操作</th>
				</tr>
			</thead>
			<tbody>{$html_tree}</tbody>
		</table>
	</form>
</div>