<style>
.pageFormContent label{width: 150px;}
span.error{left: 160px;}</style>
<div class="pageContent">	
	<form method="post" action="__ACTION__/navTabId/__CONNAME__" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
		<input type="hidden" name="post[submit]" value="__ACTNAME__">
		<gt name="info.CFG_ID" value="0">
			<input type="hidden" name="post[CFG_ID]" value="{$info.CFG_ID}">
			<input type="hidden" name="post[CFG_FLAG]" value="{$info.CFG_FLAG}">
		</gt>
		<div class="pageFormContent" layoutH="{$Think.config.tk_max_add_lay}">
			<div class="content100">
				<p>
					<label>分润名目：</label>
					<span class="show">{$cfg_flag[$info[CFG_FLAG]]}</span>
				</p>
				<p class="ic_line"></p>
			</div>
			<div class="content30">
				<p>
					<label>会员收益比例：</label>
					<input type="text" name="post[CON_PER]" value="{$info.CON_PER|setMoney=###,2,2}" class="number required ws10" min="0" max="100" maxlength="5"/>　%
				</p>
				<p>
					<label>平台收益比例：</label>
					<span class="show" note-type="rem"></span>　%
				</p>
				<p class="ic_line"></p>
			</div>
			<div class="content30">
				<p style="width:100%;">
					<label>公司平台：</label>
					<input type="text" name="post[BRANCH_FEE1]" value="{$info.BRANCH_FEE1|setMoney=###,2,2}" class="doubles required ws10" min="0" max="100" maxlength="5"/>　%
				</p>
				<p>
					<label>国家税收：</label>
					<input type="text" name="post[NTAX_FEE1]" value="{$info.NTAX_FEE1|setMoney=###,2,2}" class="doubles required ws10" min="0" max="100" maxlength="5"/>　%
				</p>
				<p>
					<label>国家级慈善基金：</label>
					<input type="text" name="post[CADF_FEE1]" value="{$info.CADF_FEE1|setMoney=###,2,2}" class="doubles required ws10" min="0" max="100" maxlength="5"/>　%
				</p>
				<p>
					<label>教育培训基金：</label>
					<input type="text" name="post[EATF_FEE1]" value="{$info.EATF_FEE1|setMoney=###,2,2}" class="doubles required ws10" min="0" max="100" maxlength="5"/>　%
				</p>
				<p>
					<label>发卡地省公司：</label>
					<input type="text" name="post[ISS_BRANCH_FEE2]" value="{$info.ISS_BRANCH_FEE2|setMoney=###,2,2}" class="doubles required ws10" min="0" max="100" maxlength="5"/>　%
				</p>
				<p style="width:66.66%;">
					<label>消费地省公司：</label>
					<input type="text" name="post[ACQ_BRANCH_FEE2]" value="{$info.ACQ_BRANCH_FEE2|setMoney=###,2,2}" class="doubles required ws10" min="0" max="100" maxlength="5"/>　%
				</p>
				<p>
					<label>发卡地地市子公司：</label>
					<input type="text" name="post[ISS_PARTNER_FEE1]" value="{$info.ISS_PARTNER_FEE1|setMoney=###,2,2}" class="doubles required ws10" min="0" max="100" maxlength="5"/>　%
				</p>
				<p>
					<label>消费地地市子公司：</label>
					<input type="text" name="post[ACQ_PARTNER_FEE1]" value="{$info.ACQ_PARTNER_FEE1|setMoney=###,2,2}" class="doubles required ws10" min="0" max="100" maxlength="5"/>　%
				</p>
				<p>
					<label>地方慈善基金（子公司）：</label>
					<input type="text" name="post[ISS_LCF_FEE1]" value="{$info.ISS_LCF_FEE1|setMoney=###,2,2}" class="doubles required ws10" min="0" max="100" maxlength="5"/>　%
				</p>
				<p>
					<label>发卡地区县服务中心：</label>
					<input type="text" name="post[ISS_PARTNER_FEE2]" value="{$info.ISS_PARTNER_FEE2|setMoney=###,2,2}" class="doubles required ws10" min="0" max="100" maxlength="5"/>　%
				</p>
				<p style="width:66.66%">
					<label>消费地区县服务中心：</label>
					<input type="text" name="post[ACQ_PARTNER_FEE2]" value="{$info.ACQ_PARTNER_FEE2|setMoney=###,2,2}" class="doubles required ws10" min="0" max="100" maxlength="5"/>　%
				</p>
				<p>
					<label>创业合伙人（或商家）：</label>
					<input type="text" name="post[ISS_PARTNER_FEE3]" value="{$info.ISS_PARTNER_FEE3|setMoney=###,2,2}" class="doubles required ws10" min="0" max="100" maxlength="5"/>　%
				</p>
				<p>
					<label>个人创业：</label>
					<input type="text" name="post[PARTNER_FEE3A]" value="{$info.PARTNER_FEE3A|setMoney=###,2,2}" class="doubles required ws10" min="0" max="100" maxlength="5"/>　%
				</p>
				<p>
					<label>大商家收益（服务中心）：</label>
					<input type="text" name="post[PARTNER_FEE3B]" value="{$info.PARTNER_FEE3B|setMoney=###,2,2}" class="doubles required ws10" min="0" max="100" maxlength="5"/>　%
				</p>
				<div class="clear"></div>
			</div>
		</div>
		<div class="formBar">
			<div class="f_r">
				<button class="ch-btn-skin ch-btn-small ch-icon-ok">确 定</button>
				<button class="ch-btn-skin ch-btn-small ch-icon-remove close">取 消</button>
			</div>
		</div>
	</form>
	<script type="text/javascript">
		$(function($) {
			var con = '{$info["CON_PER"]|setMoney=###,2,2}';
			$('span[note-type="rem"]').html(100-con);
		});
		$('input[name="post[CON_PER]"]').on('keyup', function(){
			var num = $(this).val();
			var rem = 100-num
			if(rem <= 0){
				var rem = 0;
			}
			$('span[note-type="rem"]').html(rem);
		});
	</script>
</div>
