<form id="pagerForm" method="post" action="">
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="post[submit]" value="__ACTNAME__"/>
	<input type="hidden" name="post[MARKET_NAME]" value="{$postdata.MARKET_NAME}"/>
	<input type="hidden" name="post[MARKET_NAME]" value="{$postdata.MARKET_NAME}"/>
</form>
<div class="pageHeader">
	<form method="post" action="__ACTION__/navTabId/__CONNAME__" onsubmit="return navTabSearch(this);">
		<input type="hidden" name="post[submit]" value="__ACTNAME__">
		<div class="searchBar">
			<div class="header">
				<p>
					<label>推广名称：</label>
					<input class="input01 textInput" type="text" value="{$postdata.MARKET_NAME}" name="post[MARKET_NAME]" maxlength="20">
				</p>
				<p>
					<label>状态：</label>
					<select class="combox" name="post[MARKET_FLAG]">
						<option value="">请选择</option>
						<volist name="market_flag" id="vo">
							<option value="{$key}" <if condition="($postdata['MARKET_FLAG'] eq $key) and ($postdata['MARKET_FLAG'] neq '')">selected</if>>{$vo}</option>
						</volist>
					</select>
				</p>
				<div class="clear"></div>
			</div>
			<div class="hbtn">
				<button class="ch-btn-skin ch-btn-small ch-icon-search">查 询</button>
				<a rel="__CONNAME__" target="navTab" href="__ACTION__" res_title="false"><button class="ch-btn-skin ch-btn-small ch-icon-refresh">重 置</button></a>
			</div>
		</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar selbutton">
		{:getaction_select(__CONNAME__,__ACTNAME__)}
	</div>
	<table class="table" width="100%" layoutH="141">
		<thead>
			<tr>
				<th width="22%">推广名称</th>
				<th width="10%" align='center'>生效日期</th>
				<th width="10%" align='center'>结束日期</th>
				<th width="10%" align='center'>标志</th>
				<th width="10%" align='center'>充值返现起点</th>
				<th width="10%" align='center'>充值返现比例</th>
				<th width="28%">备注</th>
			</tr>
		</thead>
		<tbody>
			<volist name='list' key="k" id='vo'>
				<tr target="sid_target" rel="{$vo.MARKET_ID}" class="<if condition='$k%2 eq 1'>bg</if>">
					<td>{$vo.MARKET_NAME}</td>
					<td>{$vo.BEGIN_DATE}</td>
					<td>{$vo.BEGIN_END}</td>
					<td>{$market_flag[$vo[MARKET_FLAG]]}</td>
					<td>{$vo.USER_RBLAMT|setMoney=###,2,2}</td>
					<td>{$vo.USER_RBLPER}%</td>
					<td title="{$vo.MARKET_DESC}">{$vo.MARKET_DESC}</td>
				</tr>
			</volist>
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages"><span>共 {$totalCount|default="0"} 条</span></div>
		<div class="pagination" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="10" currentPage="{$currentPage}"></div>
	</div>
</div>