<form id="pagerForm" method="post" action="">
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="post[submit]" value="__ACTNAME__"/>
	<input type="hidden" name="post[PLEVEL_NAME]" value="{$postdata.PLEVEL_NAME}"/>
</form>
<div class="pageHeader">
	<form method="post" action="__ACTION__/navTabId/__CONNAME__" onsubmit="return navTabSearch(this);">
		<input type="hidden" name="post[submit]" value="__ACTNAME__">
		<div class="searchBar">
			<div class="header">
				<p>
					<label>级别：</label>
					<select class="combox" name="post[PLEVEL_NAME]">
						<option value="">请选择</option>
						<volist name="plevel_name" id="vo">
							<option value="{$key}" <eq name="postdata['PLEVEL_NAME']" value="$key">selected</eq>>{$vo}</option>
						</volist>
					</select>
				</p>
				<div class="clear"></div>
			</div>
			<div class="hbtn">
				<button class="ch-btn-skin ch-btn-small ch-icon-search">查 询</button>
				<a rel="__CONNAME__" target="navTab" href="__ACTION__" res_title="false"><button class="ch-btn-skin ch-btn-small ch-icon-refresh">重 置</button></a>
			</div>
		</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar selbutton">
		{:getaction_select(__CONNAME__,__ACTNAME__)}
	</div>
	<table class="table" width="100%" layoutH="141">
		<thead>
			<tr>
				<th width="18%" align='center'>等级</th>
				<th width="32%" >合作伙伴等级名称</th>
				<th width="25%" align='center'>应收加盟费(万元)</th>
				<th width="25%" align='center'>应收保证金(万元)</th>
			</tr>
		</thead>
		<tbody>
			<volist name='list' key="k" id='vo'>
				<tr target="sid_target" rel="{$vo.PLEVEL_MAP_ID}" class="<if condition='$k%2 eq 1'>bg</if>">
					<td>{$vo.PLEVEL_LEVEL}</td>
					<td>{$plevel_name[$vo[PLEVEL_LEVEL]]}</td>
					<td>{$vo.JOIN_FEE|setMoney=###,6,2}</td>
					<td>{$vo.FUND_AMT|setMoney=###,6,2}</td>
				</tr>
			</volist>
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages"><span>共 {$totalCount|default="0"} 条</span></div>
		<div class="pagination" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="10" currentPage="{$currentPage}"></div>
	</div>
</div>