<div class="pageContent">
	<form action="__ACTION__/navTabId/__CONNAME__" method="post" name="form" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
		<input type="hidden" name="post[submit]" value="__ACTNAME__">
		<gt name="info.BIN_ID" value="0">
			<input type="hidden" name="post[BIN_ID]" value="{$info.BIN_ID}">
		</gt>
		<div class="pageFormContent" layoutH="{$Think.config.tk_max_add_lay}">
			<div class="content100">
				<p>
					<label>　</label>
					<label style="width:auto;"><input type="radio" name="post[BIN_FLAG]" value="0" <if condition="($info['BIN_FLAG'] eq 0) or ($info['BIN_FLAG'] eq '')">checked</if>>银行卡</label>
					<label><input type="radio" name="post[BIN_FLAG]" value="1" <if condition="$info['BIN_FLAG'] eq 1">checked</if>>积分宝卡</label>
				</p>
				<p class="ka_0" <if condition="($info['BIN_FLAG'] eq 0) or ($info['BIN_FLAG'] eq '')"> style="display:block;" <else/> style="display:none;" </if>>
					<label>发卡银行：</label>
					<select class="combox" name="post[ISSUE_CODE]">
						<volist name="bank_list" id="vo">
							<option value="{$vo.ISSUE_CODE}" <if condition="$info['ISSUE_CODE'] eq $vo['ISSUE_CODE']">selected</if>>{$vo.BANK_NAME}</option>
						</volist>
					</select>
				</p>
				<p class="ka_1" <if condition="$info['BIN_FLAG'] eq 1"> style="display:block;" <else/> style="display:none;" </if>>
					<label>发卡银行：</label>
					<span class="show">积分宝卡</span>
				</p>
				<p>
					<label>卡BIN号：</label>
					<input type="text" value="{$info.CARD_BIN}" class="digits required" name="post[CARD_BIN]" maxlength="10"/>
					<font class="message">（1-10位数字组成）</font>
				</p>
				<p>
					<label>卡表名称：</label>
					<input type="text" value="{$info.CARD_NAME}" class="required ws55" name="post[CARD_NAME]" maxlength="20"/>
					<font class="message">（最多20个汉字）</font>
				</p>
				<p>
					<label>卡种类型：</label>
					<select class="combox" name="post[CARD_TYPE]">
						<volist name="card_type" id="vo">
							<option value="{$key}" <if condition="$info.CARD_TYPE eq $key">selected</if>>{$vo}</option>
						</volist>
					</select>
				</p>
				<p>
					<label>所在磁道：</label>
					<select class="combox" name="post[CARD_TRACK]">
						<volist name="card_track" id="vo">
							<option value="{$key}" <if condition="$info.CARD_TRACK eq $key">selected</if>>{$vo}</option>
						</volist>
					</select>
				</p>
				<p>
					<label>偏移位置：</label>
					<input type="text" value="{$info.PAN_OFF|default='2'}" class="digits required" name="post[PAN_OFF]" maxlength="1"/>
					<font class="message">（1位数字组成，主账号起始所在磁道偏移）</font>
				</p>
				<p>
					<label>卡号长度：</label>
					<input type="text" value="{$info.PAN_LEN|default='16'}" class="digits required" name="post[PAN_LEN]" maxlength="2" min="12" max="19" />
					<font class="message">（12-19中的2位数字组成）</font>
				</p>
				<div class="clear"></div>
			</div>
		</div>
		<div class="formBar">
			<div class="f_r">
				<button class="ch-btn-skin ch-btn-small ch-icon-ok">确 定</button>
				<button class="ch-btn-skin ch-btn-small ch-icon-remove close">取 消</button>
			</div>
		</div>
	</form>
	<script type="text/javascript">
		$('input[name="post[BIN_FLAG]"]').on('click', function(){
			var num = $(this).val();
			var fan = num==0 ? 1 : 0;
			$('.ka_'+fan).hide();
			$('.ka_'+num).show();
		});
	</script>
</div>
