<div class="pageContent">	
	<div class="pageFormContent" layoutH="{$Think.config.tk_max_add_lay}">
		<div class="content100">
			<p>
				<label>通讯ID码：</label>
				<span class="show">{$info.COM_INDEX}</span>
			</p>
			<p>
				<label>通讯名称：</label>
				<span class="show">{$info.COM_NAME}</span>
			</p>
			<p class="ic_line"></p>
			<div class="clear"></div>
		</div>
		<div class="content30">
			<p class="h2p">POS交易通讯参数</p>
			<p>
				<label>交易APN：</label>
				<span class="show">{$info.COM_TRANSAPN}</span>
			</p>
			<p>
				<label>交易IP：</label>
				<span class="show">{$info.COM_TRANSIP}</span>
			</p>
			<p>
				<label>拨号电话1：</label>
				<span class="show">{$info.COM_TRANSTEL1}</span>
			</p>
			<p>
				<label>APN用户名：</label>
				<span class="show">{$info.COM_TRANSAPNUSR}</span>
			</p>
			<p>
				<label>交易端口：</label>
				<span class="show">{$info.COM_TRANSPORT}</span>
			</p>
			<p>
				<label>拨号电话2：</label>
				<span class="show">{$info.COM_TRANSTEL2}</span>
			</p>
			<p style="width:66.66%;">
				<label>APN密码：</label>
				<span class="show">******</span>
			</p>
			<p>
				<label>拨号电话3：</label>
				<span class="show">{$info.COM_TRANSTEL3}</span>
			</p>
			<p class="ic_line"></p>
			<p class="h2p">TMS通讯参数</p>
			<p>
				<label>交易APN：</label>
				<span class="show">{$info.COM_MANAPN}</span>
			</p>
			<p>
				<label>交易IP：</label>
				<span class="show">{$info.COM_MANIP}</span>
			</p>
			<p>
				<label>拨号电话1：</label>
				<span class="show">{$info.COM_MANTEL1}</span>
			</p>
			<p>
				<label>APN用户名：</label>
				<span class="show">{$info.COM_MANAPNUSR}</span>
			</p>
			<p style="width:66.66%;">
				<label>交易端口：</label>
				<span class="show">{$info.COM_MANPORT}</span>
			</p>
			<p style="width:100%;">
				<label>APN密码：</label>
				<span class="show">******</span>
			</p>
			<div class="clear"></div>
		</div>
	</div>
	<div class="formBar">
		<div class="f_r">
			<button class="ch-btn-skin ch-btn-small ch-icon-remove close">关 闭</button>
		</div>
	</div>
</div>
