<form id="pagerForm" method="post" action="">
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="post[submit]" value="__ACTNAME__"/>
	<input type="hidden" name="post[SYSTEM_DATE_A]" value="{$postdata.SYSTEM_DATE_A}"/>
	<input type="hidden" name="post[SYSTEM_DATE_B]" value="{$postdata.SYSTEM_DATE_B}"/>
	<input type="hidden" name="post[TRANS_ID]" value="{$postdata.TRANS_ID}"/>
	<input type="hidden" name="post[TRACE_STATUS]" value="{$postdata.TRACE_STATUS}"/>
	<input type="hidden" name="post[TRANS_AMT_A]" value="{$postdata.TRANS_AMT_A}"/>
	<input type="hidden" name="post[TRANS_AMT_B]" value="{$postdata.TRANS_AMT_B}"/>
	<input type="hidden" name="post[HOST_MAP_ID]" value="{$postdata.HOST_MAP_ID}"/>
	<input type="hidden" name="post[CARD_NO]" value="{$postdata.CARD_NO}"/>
	<input type="hidden" name="post[FEE_STATUS]" value="{$postdata.FEE_STATUS}"/>
	<input type="hidden" name="post[SHOP_NO]" value="{$postdata.SHOP_NO}"/>
	<input type="hidden" name="post[POS_NO]" value="{$postdata.POS_NO}"/>
	<input type="hidden" name="post[POS_TRACE]" value="{$postdata.POS_TRACE}"/>
</form>
<div class="pageHeader">
	<form method="post" action="__ACTION__/navTabId/__CONNAME__" onsubmit="return navTabSearch(this);">
		<input type="hidden" name="post[submit]" value="__ACTNAME__">
		<div class="searchBar">
			<div class="header">				
				<p>
					<label>计量维度：</label>
					<input type="radio" value="1" name="post[SYSTEM_DATE_A]">总交易笔数　
					<input type="radio" value="2" name="post[SYSTEM_DATE_A]">总交易金额
				</p>
				<div class="clear"></div>
				<p>
					<label>会员归属：</label>
					{:get_level_sel($postdata['SBRANCH_MAP_ID'],'-1','plv[]',$postdata['SPARTNER_MAP_ID'],5)}
				</p>
				<div class="clear"></div>
				<p>
					<span>
						<label>交易时间：</label>
						<input class="input01 textInput date f_l readonly" type="text" value="{$postdata.SYSTEM_DATE_A}" name="post[SYSTEM_DATE_A]" readonly="true">
						<a class="inputDateButton f_l" href="#">选择</a>
					</span>
					<code class="code"> ~ </code>
					<span>
						<input class="input01 textInput date f_l readonly" type="text" value="{$postdata.SYSTEM_DATE_B}" name="post[SYSTEM_DATE_B]" readonly="true">
						<a class="inputDateButton f_l" href="#">选择</a>
					</span>
				</p>
				<div class="clear"></div>
			</div>
			<div class="hbtn">
				<button class="ch-btn-skin ch-btn-small ch-icon-search">查 询</button>
				<a rel="__CONNAME__" target="navTab" href="__ACTION__" res_title="false"><button class="ch-btn-skin ch-btn-small ch-icon-refresh">重 置</button></a>
			</div>
		</div>
	</form>
</div>
<div class="pageContent">
	<table class="table" width="100%" layoutH="175">
		<thead>
			<tr>
				<th width="10%" align='center'>排名</th>
				<th width="20%" >会员名称</th>
				<th width="10%" align='center'>会员手机号</th>
				<th width="40%" align='right'>归属</th>
				<th width="10%" align='center'>交易笔数</th>
				<th width="10%" align='center'>交易金额</th>
			</tr>
		</thead>
		<tbody>
			<volist name='list' key="k" id='vo'>
				<tr target="sid_target" rel="{$vo.SYSTEM_REF}" class="<if condition='$k%2 eq 1'>bg</if>">
					<td>{$k}</td>
					<td>{$vo.SHOP_NAMEAB}</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</volist>
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages"><span>共 {$totalCount|default="0"} 条</span></div>
		<div class="pagination" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="10" currentPage="{$currentPage}"></div>
	</div>
</div>