<form id="pagerForm" method="post" action="">
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="post[submit]" value="luck_photo"/>
	<input type="hidden" id="exportdata" value="{$exportdata}"/><!-- Excel导出 -->
</form>
<div class="pageHeader">
	<form method="post" action="{:U('/Home/Daikuan/luck_photo')}" onsubmit="return navTabSearch(this);">
		<input type="hidden" name="post[submit]" value="luck_photo">
		<div class="searchBar">
			<div class="header">
				<if condition="$home['CHANNEL_MAP_ID'] eq 0">
					<p>
	                    <label>渠道：</label>
	                    <select class="combox" name="post[CHANNEL_MAP_ID]">
	                    	<option value="">请选择</option>
	                    	<!-- <option value="0">自主</option> -->
	                        <volist name="channel" id="vo">
	                            <option value="{$key}" <if condition="($postdata['CHANNEL_MAP_ID'] eq $key)">selected</if>>{$vo}</option>
	                        </volist>
	                    </select>
	                </p>
				</if>
				<div class="clear"></div>
			</div>
			<div class="hbtn">
				<button class="ch-btn-skin ch-btn-small ch-icon-search">查 询</button>
				<a rel="__CONNAME__" target="navTab" href="__ACTION__" res_title="false"><button class="ch-btn-skin ch-btn-small ch-icon-refresh">重 置</button></a>
			</div>
		</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar selbutton">
		{:getaction_select(__CONNAME__,__ACTNAME__)}
	</div>
	<table class="table" width="100%" layoutH="140">
		<thead>
			<tr>
				<th width="6%" align="center">渠道名称</th>
				<th width="4%" align='center'>跳转位置</th>
				<th width="7%" align='center'>展示图片</th>
				<th width="16%" align='center'>跳转链接</th>
				<th width="5%" align="center">状态</th>
			</tr>
		</thead>
		<tbody>
			<volist name='list' key="k" id='vo'>
				<tr target="sid_target" rel="{$vo.ID}" class="<if condition='$k%2 eq 1'>bg</if>">
					<td>{$vo.CHANNEL_NAME}</td>
					<td>{$type[$vo[TYPE]]}</td>
					<td><img src="{$vo.IMAGE_URL}" width="20%"/></td>
					<td>{$vo.LINK_URL}</td>
					<td>{$status[$vo[STATUS]]}</td>
				</tr>
			</volist>
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages"><span>共 {$totalCount|default="0"} 条</span></div>
		<div class="pagination" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="10" currentPage="{$currentPage}"></div>
	</div>
	<script type="text/javascript">		
		//页面加载执行
		$(document).ready(function(){
			var	navsnum     = $('.tabsPageHeader .navTab-tab .selected').index();
			var tabscontent = $('.tabsPageContent .unitBox:eq('+navsnum+')');
			//点击查看统计
			tabscontent.find('a[note-type="getstatis"]').on('click',  function(){
				tabscontent.find('.pages').html('<span><img class="loading" src="__PUBLIC__/home/images/loading.gif">统计中...</span>');
				
				var	exportdata  = tabscontent.find('#exportdata').val();
				var url 	    = exportdata ? '__ACTION__' + exportdata + '&submit=__ACTNAME__&ajax=loading' : '__ACTION__?submit=__ACTNAME__&ajax=loading';
				$.ajaxSettings.global = false;		//关闭框架loading	
				$.getJSON(url, {}, function(_data) {
					tabscontent.find('.pages').html('<span>共 '+ _data.count +' 条</span>');
					$.ajaxSettings.global = true;	//开启框架loading	
				});
			});
			//日期选择
			tabscontent.find('a[note-type="seltime"]').on('click',  function(){
				var begin = $(this).attr('begin'),end = $(this).attr('end');
				tabscontent.find('input[name="post[CREATE_TIME_A]"]').val(begin);
				tabscontent.find('input[name="post[CREATE_TIME_B]"]').val(end);
			});
		});
	</script>
</div>