	<style>
	.pageFormContent p{padding:1px 0;}
	.pageFormContent p.ic_line{padding:2px 0;}
	</style>
	<div class="pageFormContent" layoutH="80" style="padding-bottom:0px;">
		<div class="tabs" style="margin-top:0px;">
			<div class="tabsHeader">
				<div class="tabsHeaderContent">
					<ul>
						<li><a href="javascript:;"><span>交易流水</span></a></li>
						<if condition="$home['CHANNEL_MAP_ID'] eq 0"><li><a href="javascript:;"><span>平台运营分润</span></a></li>
						<li><a href="javascript:;"><span>平台卡费回收</span></a></li></if>
					</ul>
				</div>
			</div>
			<div class="tabsContent">
				<div class="pageFormContent">
					<div class="content50">
						<p>
							<label>系统时间：</label>
							<span class="show">{$info.SYSTEM_DATE} {$info.SYSTEM_TIME}</span>
						</p>
						<if condition="$home['CHANNEL_MAP_ID'] eq 0">
						<p>
							<label>风险控制：</label>
							<span class="show"><font color="red"><eq name="info[RISK_FLAG]" value="0">正常<else/>{$info.RES}</eq></font></span>
						</p>
						</if>
						<p class="ic_line"></p>
						<div class="clear"></div>
					</div>
					<div class="content25">
						<p>
							<label>交易类型：</label>
							<span class="show">{$info.TRANS_NAME}</span>
						</p>
						<p>
							<label>处理结果：</label>
							<span class="show"><font color="red">{$trace_status[$info[TRACE_STATUS]]}<gt name="info[TRACE_STATUS]" value="0">（{$info.TRACE_RETDESC}）</gt></font></span>
						</p>
						<if condition="$home['CHANNEL_MAP_ID'] eq 0">
						<p>
							<label>差错标志：</label>
							<span class="show"><font color="red">{$error_point[$info[ERROR_POINT]]}</font></span>
						</p>
						</if>
						<neq name="info[VIP_FLAG]" value="0">
							<p>
								<label>超扣标志：</label>
								<span class="show"><font color="red">{$fee_status[$info[FEE_STATUS]]}</font></span>
							</p>
						</neq>
						<div class="clear"></div>
					</div>
					<div class="content100">
						<p class="ic_line"></p>
						<p style="width:25%;">
							<label>交易金额：</label>
							<span class="show"><font color="red">{$info.TRANS_AMT|setMoney=###,2,2}　元</font></span>
						</p>
						<p style="width:25%;">
							<label>商户净金额：</label>
							<span class="show"><font color="red">{$info.SHOP_AMT|setMoney=###,2,2}　元</font></span>
						</p>
						<!--<p style="width:50%;">
							<label>商户立减金额：</label>
							<span class="show"><font color="red">{$info.TRANS_MINUS|setMoney=###,2,2}　元</font></span>
						</p>-->
						<p>
							<label>交易手续费：</label>
							<span class="show"><font color="red">{$info.SHOP_MDR|setMoney=###,2,2}　元</font></span>
						</p>
						<if condition="$home['CHANNEL_MAP_ID'] eq 0">
						<p>
							<label>收单手续费：</label>
							<span class="show"><font color="red">{$info.ACQ_FEE|setMoney=###,2,2}　元</font></span>
						</p>
						<p>
							<label>平台收益：</label>
							<span class="show"><font color="red">{$info.JFB_FEE|setMoney=###,2,2} 元</font></span>
						</p>
						</if>
						<p class="ic_line"></p>
						<div class="clear"></div>
					</div>
					<div class="content25">
						<if condition="$home['CHANNEL_MAP_ID'] eq 0">
						<p>
							<label>会员卡号：</label>
							<span class="show"><font color="red">{$info.VIP_CARDNO}</font></span>
						</p>
						<p style="width:75%;">
							<label>会员类型：</label>
							<span class="show"><font color="red">{$vip_flag[$info[VIP_FLAG]]}</font></span>
						</p>
						<p>
							<label>银行卡号：</label>
							<span class="show">{$info.CARD_NO|setCard_no=###}</span>
						</p>
						<p>
							<label>发卡银行：</label>
							<span class="show">{$info.ISSUER_NAME}</span>
						</p>
						<p>
							<label>卡有效期：</label>
							<span class="show">{$info.CARD_EXP}</span>
						</p>
						<p>
							<label>授权号码：</label>
							<span class="show">{$info.HOST_AUTH}</span>
						</p>
						<p class="ic_line"></p>
						</if>
						<p style="width:100%">
							<label>商户名称：</label>
							<span class="show">{$info.SHOP_NAMEAB}</span>
						</p>
						<if condition="$home['CHANNEL_MAP_ID'] eq 0">
						<p style="width:100%">
							<label>商户归属：</label>
							<span class="show">{$info.SPARTNER_MAP_ID|get_level_name=###,$info['SBRANCH_MAP_ID']}</span>
						</p>
						</if>
						<p>
							<label>商户编号：</label>
							<span class="show">{$info.SHOP_NO}</span>
						</p>
						<if condition="$home['CHANNEL_MAP_ID'] eq 0">
						<p>
							<label>POS编号：</label>
							<span class="show">{$info.POS_NO}</span>
						</p>
						<p>
							<label>POS批次：</label>
							<span class="show">{$info.POS_BATCH}</span>
						</p>
						<p>
							<label>POS流水：</label>
							<span class="show">{$info.POS_TRACE}</span>
						</p>
						</if>
						<p class="ic_line"></p>	
						<if condition="$home['CHANNEL_MAP_ID'] eq 0">
						<p>
							<label>路由通道：</label>
							<span class="show">{$info.HOST_NAME}</span>
						</p>
						<p>
							<label>通道商户编号：</label>
							<span class="show">{$info.HSHOP_NO}</span>
						</p>
						<p style="width:50%;">
							<label>通道POS编号：</label>
							<span class="show">{$info.HPOS_NO}</span>
						</p>
						<p>
							<label>通道批次：</label>
							<span class="show">{$info.HPOS_BATCH}</span>
						</p>
						<p>
							<label>通道流水：</label>
							<span class="show">{$info.HPOS_TRACE}</span>
						</p>
						<p>
							<label>系统参考号：</label>
							<span class="show">{$info.HOST_TRACE}</span>
						</p>
						</if>
						<p>
							<label>订单号：</label>
							<span class="show">{$info.ORDER_NO}</span>
						</p>
						<div class="clear"></div>
						<!-- 商户上三级分润开始 -->
						<if condition="$home['ROLE_NAME'] eq OEM">
							<p class="ic_line"></p>
							<p>
								<label>一级分润：</label>
								<empty name="jfbls_info['ACQ_BRANCH_FEE2']">无<else />
									<span class="show"><font color="red">{$jfbls_info.ACQ_BRANCH_FEE2|setMoney=###,2,2} 元</font></span>
									<notempty name="jfbls_info['ACQ_BRANCH_NAMEAB2']"><span class="name">（{$jfbls_info.ACQ_BRANCH_NAMEAB2}）</span></notempty>
								</empty>
							</p>
							<p>
								<label>二级分润：</label>
								<empty name="jfbls_info['ACQ_PARTNER_FEE1']">无<else />
									<span class="show"><font color="red">{$jfbls_info.ACQ_PARTNER_FEE1|setMoney=###,2,2} 元</font></span>
									<notempty name="jfbls_info['ACQ_PARTNER_NAMEAB1']"><span class="name">（{$jfbls_info.ACQ_PARTNER_NAMEAB1}）</span></notempty>
								</empty>
							</p>
							<p>
								<label>三级分润：</label>
								<empty name="jfbls_info['ACQ_PARTNER_FEE2']">无<else />
									<span class="show"><font color="red">{$jfbls_info.ACQ_PARTNER_FEE2|setMoney=###,2,2} 元</font></span>
									<notempty name="jfbls_info['ACQ_PARTNER_NAMEAB2']"><span class="name">（{$jfbls_info.ACQ_PARTNER_NAMEAB2}）</span></notempty>
								</empty>
							</p>
						</if>
						<!-- 商户上三级分润结束 -->
					</div>
				</div>
				<div class="pageFormContent"><!-- 2 -->
					<empty name="jfbls_info">
						<div class="content100">
							<p>无平台运营分润。</p>
						</div>
					<else/>
						<div class="content50">
							<p>
								<label>会员卡号：</label>
								<span class="show">{$jfbls_info.VIP_CARDNO}</span>
							</p>
							<p>
								<label>会员类型：</label>
								<span class="show"><font color="red">{$vip_flag[$jfbls_info[VIP_FLAG]]}</font></span>
							</p>							
							<p style="width:100%;">
								<label>会员归属：</label>
								<span class="show">{$jfbls_info.VPARTNER_MAP_ID|get_level_name=###,$jfbls_info['VBRANCH_MAP_ID']}</span>
							</p>
							<p class="ic_line"></p>
							<p>
								<label>消费者分润金额：</label>
								<span class="show"><font color="red">{$jfbls_info.CON_FEE|setMoney=###,2,2} 元</font></span>
							</p>
							<p>
								<label>平台分润金额：</label>
								<span class="show"><font color="red">{$jfbls_info.PLAT_FEE|setMoney=###,2,2} 元</font></span>
							</p>
							<div class="clear"></div>
						</div>
						
						<if condition="($Think.session.HOME.USER_LEVEL eq 0) and ($Think.session.HOME.USER_LEVEL neq '')"> 
							<!-- 总部 -->
							<include file="Trace/trace_yunying_0" />
						<elseif condition="$Think.session.HOME.USER_LEVEL eq 1"/>
							<!-- 省分公司 -->
							<include file="Trace/trace_yunying_1" />
						<elseif condition="$Think.session.HOME.USER_LEVEL eq 2"/>
							<!-- 地市子公司 -->
							<include file="Trace/trace_yunying_2" />
						<elseif condition="$Think.session.HOME.USER_LEVEL eq 3"/>
							<!-- 服务中心 -->
							<include file="Trace/trace_yunying_3" />
						<elseif condition="$Think.session.HOME.USER_LEVEL eq 4"/>
							<!-- 发卡点 -->
							<include file="Trace/trace_yunying_4" />
						</if>
					</empty>
				</div>
				<div class="pageFormContent"><!-- 3 -->
					<empty name="kfls_info">
						<div class="content100">
							<p>无平台卡费回收。</p>
						</div>
					<else/>
						<div class="content50">
							<p>
								<label>会员卡号：</label>
								<span class="show">{$kfls_info.VIP_CARDNO}</span>
							</p>
							<p>
								<label>会员卡种：</label>
								<span class="show"><font color="red">{$vip_flag[$kfls_info[VIP_FLAG]]}</font></span>
							</p>
							<p style="width:100%;">
								<label>发卡地点：</label>
								<span class="show">{$kfls_info.VPARTNER_MAP_ID|get_level_name=###,$kfls_info['VBRANCH_MAP_ID']}</span>
							</p>
							<p class="ic_line"></p>
							<p style="width:100%;">
								<label>消费者分润金额：</label>
								<span class="show"><font color="red">{$kfls_info.CON_FEE|setMoney=###,2,2} 元</font></span>
							</p>
							<p>
								<label>消费者留存金额：</label>
								<span class="show"><font color="red">{$kfls_info.CON_RES_FEE|setMoney=###,2,2} 元</font></span>
							</p>
							<p>
								<label>预免卡卡费回收：</label>
								<span class="show"><font color="red">{$kfls_info.CON_DIV_FEE|setMoney=###,2,2} 元</font></span>
								<gt name="info['TRAFICC_FEE']" value="0">
								<font class="message">（交通意外险 {$kfls_info.TRAFICC_FEE|setMoney=###,2,2} 元）</font>
								</gt>
							</p>
							<p class="ic_line"></p>
							<p style="width:100%;">
								<label>平台分润金额：</label>
								<span class="show"><font color="red">{$kfls_info.PLAT_FEE|setMoney=###,2,2} 元</font></span>
							</p>
							<div class="clear"></div>
						</div>
												
						<if condition="($Think.session.HOME.USER_LEVEL eq 0) and ($Think.session.HOME.USER_LEVEL neq '')"> 
							<!-- 总部 -->
							<include file="Trace/trace_kafei_0" />
						<elseif condition="$Think.session.HOME.USER_LEVEL eq 1"/>
							<!-- 省分公司 -->
							<include file="Trace/trace_kafei_1" />
						<elseif condition="$Think.session.HOME.USER_LEVEL eq 2"/>
							<!-- 地市子公司 -->
							<include file="Trace/trace_kafei_2" />
						<elseif condition="$Think.session.HOME.USER_LEVEL eq 3"/>
							<!-- 服务中心 -->
							<include file="Trace/trace_kafei_3" />
						<elseif condition="$Think.session.HOME.USER_LEVEL eq 4"/>
							<!-- 发卡点 -->
							<include file="Trace/trace_kafei_4" />
						</if>
					</empty>
				</div>
			</div>
		</div>
	</div>
