					
	<div class="content50 traces">
		<p class="ic_line"></p>
		<p>
			<label>总部收益：</label>
			<span class="show"><font color="red">**** 元</font></span>
		</p>
		<p class="t2">
			<label>发卡地省公司：</label>
			<span class="show"><font color="red">**** 元</font></span>
			<notempty name="jfbls_info['ISS_BRANCH_NAMEAB2']"><span class="name">（{$jfbls_info.ISS_BRANCH_NAMEAB2}）</span></notempty>
		</p>
		<p>
			<label>国家税收：</label>
			<span class="show"><font color="red">**** 元</font></span>
		</p>
		<p class="t2">
			<label>消费地省公司：</label>
			<span class="show"><font color="red">**** 元</font></span>
			<notempty name="jfbls_info['ACQ_BRANCH_NAMEAB2']"><span class="name">（{$jfbls_info.ACQ_BRANCH_NAMEAB2}）</span></notempty>
		</p>
		<p>
			<label>国家慈善基金：</label>
			<span class="show"><font color="red">**** 元</font></span>
		</p>
		<p class="t2">
			<label>发卡地市公司：</label>
			<span class="show"><font color="red">**** 元</font></span>
			<notempty name="jfbls_info['ISS_PARTNER_NAMEAB1']"><span class="name">（{$jfbls_info.ISS_PARTNER_NAMEAB1}）</span></notempty>
		</p>
		<p>
			<label>教育培训基金：</label>
			<span class="show"><font color="red">**** 元</font></span>
		</p>
		<p class="t2">
			<label>消费地市公司：</label>
			<span class="show"><font color="red">**** 元</font></span>
			<notempty name="jfbls_info['ACQ_PARTNER_NAMEAB1']"><span class="name">（{$jfbls_info.ACQ_PARTNER_NAMEAB1}）</span></notempty>
		</p>
		<p>
			<label>地方慈善基金：</label>
			<span class="show"><font color="red">**** 元</font></span>
		</p>
		<p class="t2">
			<label>发卡地区县服务中心：</label>
			<span class="show"><font color="red">{$jfbls_info.ISS_PARTNER_FEE2|setMoney=###,2,2} 元</font></span>
			<notempty name="jfbls_info['ISS_PARTNER_NAMEAB2']"><span class="name">（{$jfbls_info.ISS_PARTNER_NAMEAB2}）</span></notempty>
		</p>
		<p></p>
		<p class="t2">
			<label>消费地区县服务中心：</label>
			<span class="show"><font color="red">{$jfbls_info.ACQ_PARTNER_FEE2|setMoney=###,2,2} 元</font></span>
			<notempty name="jfbls_info['ACQ_PARTNER_NAMEAB2']"><span class="name">（{$jfbls_info.ACQ_PARTNER_NAMEAB2}）</span></notempty>
		</p>
		<p></p>
		<p class="t2">
			<label>个创：</label>
			<span class="show"><font color="red">{$jfbls_info.PARTNER_FEE3A|setMoney=###,2,2} 元</font></span>
			<notempty name="jfbls_info['PARTNER_NAMEAB3A']"><span class="name">（{$jfbls_info.PARTNER_NAMEAB3A}）</span></notempty>
		</p>
		<p></p>
		<p class="t2">
			<label>大商家：</label>
			<span class="show"><font color="red">{$jfbls_info.PARTNER_FEE3B|setMoney=###,2,2} 元</font></span>
			<notempty name="jfbls_info['PARTNER_NAMEAB3B']"><span class="name">（{$jfbls_info.PARTNER_NAMEAB3B}）</span></notempty>
		</p>
		<p></p>
		<p class="t2">
			<label>创业合伙人：</label>
			<span class="show"><font color="red">{$jfbls_info.ISS_PARTNER_FEE3|setMoney=###,2,2} 元</font></span>
			<notempty name="jfbls_info['ISS_PARTNER_NAMEAB3']"><span class="name">（{$jfbls_info.ISS_PARTNER_NAMEAB3}）</span></notempty>
		</p>
		<div class="clear"></div>
	</div>