<form id="pagerForm" method="post" action="">
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="post[submit]" value="__ACTNAME__"/>
	<input type="hidden" name="post[SYSTEM_DATE_A]" value="{$postdata.SYSTEM_DATE_A}"/>
	<input type="hidden" name="post[SYSTEM_DATE_B]" value="{$postdata.SYSTEM_DATE_B}"/>
	<input type="hidden" name="post[BRANCH_MAP_ID]" value="{$postdata.BRANCH_MAP_ID}"/>
	<input type="hidden" name="post[PARTNER_MAP_ID]" value="{$postdata.PARTNER_MAP_ID}"/>
	<input type="hidden" name="post[TRANS_SUBID]" value="{$postdata.TRANS_SUBID}"/>
	<input type="hidden" name="post[TRACE_STATUS]" value="{$postdata.TRACE_STATUS}"/>
	<input type="hidden" name="post[TRANS_AMT_A]" value="{$postdata.TRANS_AMT_A}"/>
	<input type="hidden" name="post[TRANS_AMT_B]" value="{$postdata.TRANS_AMT_B}"/>
	<input type="hidden" name="post[HOST_MAP_ID]" value="{$postdata.HOST_MAP_ID}"/>
	<input type="hidden" name="post[SHOP_NAMEAB]" value="{$postdata.SHOP_NAMEAB}"/>
	<input type="hidden" name="post[MOBILE]" value="{$postdata.MOBILE}"/>
	<input type="hidden" name="post[POS_NO]" value="{$postdata.POS_NO}"/>
	<input type="hidden" name="post[POS_TRACE]" value="{$postdata.POS_TRACE}"/>
	<input type="hidden" name="post[IS_SHARE_FEE]" value="{$postdata.IS_SHARE_FEE}"/>
	<input type="hidden" name="post[CHANNEL_MAP_ID]" value="{$postdata.CHANNEL_MAP_ID}"/>
	<input type="hidden" name="post[VIP_CARDNO]" value="{$postdata.VIP_CARDNO}"/>
	<input type="hidden" name="post[SOURCE]" value="{$postdata.SOURCE}"/>
	<input type="hidden" id="exportdata" value="{$exportdata}"/><!-- Excel导出 -->
</form>
<div class="pageHeader">
	<form method="post" action="__ACTION__/navTabId/__CONNAME__" onsubmit="return navTabSearch(this);">
		<input type="hidden" name="post[submit]" value="__ACTNAME__">
		<div class="searchBar">
			<div class="header">				
				<p>
					<span>
						<label>交易日期：</label>
						<input class="input01 textInput date f_l readonly" type="text" value="{$postdata.SYSTEM_DATE_A}" name="post[SYSTEM_DATE_A]" readonly="true">
						<a class="inputDateButton f_l" href="#">选择</a>
					</span>
					<code class="code"> ~ </code>
					<span>
						<input class="input01 textInput date f_l readonly" type="text" value="{$postdata.SYSTEM_DATE_B}" name="post[SYSTEM_DATE_B]" readonly="true">
						<a class="inputDateButton f_l" href="#">选择</a>
					</span>
					<span class="sta_day">
						<a href="javascript:;" note-type="seltime" begin="{$timedata.jintian_b}" end="{$timedata.jintian_n}">当日</a>
						<a href="javascript:;" note-type="seltime" begin="{$timedata.zuotian_b}" end="{$timedata.zuotian_n}">昨日</a>
						<a href="javascript:;" note-type="seltime" begin="{$timedata.benyue_b}" end="{$timedata.benyue_n}">本月</a>
						<a href="javascript:;" style="border:none;" note-type="seltime" begin="{$timedata.shangyue_b}" end="{$timedata.shangyue_n}">上月</a>
					</span>
				</p>
				<if condition="$home['CHANNEL_MAP_ID'] eq 0">
				<p class="maxcombox5">
					<label>第三方渠道：</label>
					<select class="combox" name="post[CHANNEL_MAP_ID]">
						<option value="">请选择</option>
						<volist name="channel_list" id="vo">
							<option value="{$vo.CHANNEL_MAP_ID}" <eq name="postdata['CHANNEL_MAP_ID']" value="$vo.CHANNEL_MAP_ID">selected</eq>>{$vo.CHANNEL_NAME}</option>
						</volist>
					</select>
				</p></if>
				<div class="clear"></div>
				<if condition="$home['CHANNEL_MAP_ID'] eq 0">
				<p>
					<label>交易类型：</label>
					<select class="combox" name="post[TRANS_SUBID]">
						<option value="">请选择</option>
						<volist name="trans_list" id="vo">
							<option value="{$vo.TRANS_SUBID}" <eq name="postdata['TRANS_SUBID']" value="$vo.TRANS_SUBID">selected</eq>>{$vo.TRANS_NAME}</option>
						</volist>
					</select>
				</p>
				</if>
				<if condition="$home['CHANNEL_MAP_ID'] eq 0 OR $home['ROLE_NAME'] eq OEM">
				<p class="maxcombox5">
					<label>处理结果：</label>
					<select class="combox" name="post[TRACE_STATUS]">
						<option value="">请选择</option>
						<volist name="trace_status" id="vo">
							<option value="{$key}" <if condition="($postdata['TRACE_STATUS'] eq $key) and ($postdata['TRACE_STATUS'] neq '')">selected</if>>{$vo}</option>
						</volist>
					</select>
				</p>
				</if>
				<if condition="$home['CHANNEL_MAP_ID'] eq 0"><p class="maxcombox5">
					<label>支付通道：</label>
					<select class="combox" name="post[HOST_MAP_ID]">
						<option value="">请选择</option>
						<volist name="host_list" id="vo">
							<option value="{$vo.HOST_MAP_ID}" <eq name="postdata['HOST_MAP_ID']" value="$vo.HOST_MAP_ID">selected</eq>>{$vo.HOST_NAME}</option>
						</volist>
					</select>
				</p>
				<p class="maxcombox5">
					<label>是否分润：</label>
					<select class="combox" name="post[IS_SHARE_FEE]">
						<option value="1" <eq name="postdata['IS_SHARE_FEE']" value="1">selected</eq>>是</option>
						<option value="0" <eq name="postdata['IS_SHARE_FEE']" value="0">selected</eq>>否</option>
					</select>
				</p><else/><input type="hidden" name="post[IS_SHARE_FEE]" value="0"/></if>
				<div class="clear"></div>
				<!--<p>
					<label>会员卡号：</label>
					<input class="input01 textInput" type="text" value="{$postdata.VIP_CARDNO}" name="post[VIP_CARDNO]" maxlength="20">
				</p>-->
				<if condition="$home['CHANNEL_MAP_ID'] eq 0 OR $home['ROLE_NAME'] eq OEM">
				<p>
					<label>交易金额：</label>
					<input class="input01 textInput f_l ws13" type="text" value="{$postdata.TRANS_AMT_A}" name="post[TRANS_AMT_A]" maxlength="16">
					<code class="code"> ~ </code>
					<input class="input01 textInput f_l ws13" type="text" value="{$postdata.TRANS_AMT_B}" name="post[TRANS_AMT_B]" maxlength="16">
				</p>
				</if>
				<if condition="$home['CHANNEL_MAP_ID'] eq 0">
				<!-- <p>
					<label>　终端号：</label>
					<input class="input01 textInput ws13" type="text" value="{$postdata.POS_NO}" name="post[POS_NO]" maxlength="8">
				</p> -->
				<p>
					<label>POS流水号：</label>
					<input class="input01 textInput ws13" type="text" value="{$postdata.POS_TRACE}" name="post[POS_TRACE]" maxlength="6">
				</p>
				<!-- <div class="clear"></div> -->
				<p>
					<label>商户简称：</label>
					<input class="input01 textInput" type="text" value="{$postdata.SHOP_NAMEAB}" name="post[SHOP_NAMEAB]" maxlength="12">
				</p>
				<else/>
				<div class="clear"></div>
				</if>
				<p>
					<label>手机号：</label>
					<input class="input01 textInput" type="text" value="{$postdata.MOBILE}" name="post[MOBILE]" maxlength="11">
				</p>
				<if condition="$home['CHANNEL_MAP_ID'] eq 0">
				<p class="maxcombox5">
					<label>流水归属：</label>
					{:get_level_sel($postdata['BRANCH_MAP_ID'],'-1','plv[]',$postdata['PARTNER_MAP_ID'],5)}
				</p>
				<p class="maxcombox5">
					<label>来源：</label>
					<select class="combox" name="post[SOURCE]">
						<option value="">请选择</option>
						<option value="2" <eq name="postdata['SOURCE']" value="2">selected</eq>>网关快捷</option>
						<option value="1" <eq name="postdata['SOURCE']" value="1">selected</eq>>线上</option>
						<option value="0" <eq name="postdata['SOURCE']" value="0">selected</eq>>线下</option>
					</select>
				</p><else/><input type="hidden" name="post[SOURCE]" value=""/></if>
				<if condition="$home['CHANNEL_MAP_ID'] eq 0 OR $home['ROLE_NAME'] eq OEM">
				<p>
					<label>交易流水号：</label>
					<input class="input01 textInput" type="text" value="{$postdata.ORDER_NO}" name="post[ORDER_NO]" maxlength="32">
				</p>
				</if>
			</div>
			<div class="hbtn">
				<button class="ch-btn-skin ch-btn-small ch-icon-search">查 询</button>
				<a rel="__CONNAME__" target="navTab" href="__ACTION__" res_title="false"><button class="ch-btn-skin ch-btn-small ch-icon-refresh">重 置</button></a>
			</div>
		</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar selbutton">
		{:getaction_select(__CONNAME__,__ACTNAME__)}
		<div class="f_r">
			<span class="remark">备注：该功能用于查询涉及到登录者区域内商户的交易流水明细。</span>
		</div>
		<div class="clear"></div>
	</div>
	<table class="table" width="100%" layoutH="242">
		<thead>
			<tr>
				<th width="4%" align='center'>来源</th>
				<th width="6%" align='center'>交易类型</th>
				<if condition="$home['CHANNEL_MAP_ID'] eq 0"><th width="10%">归属</th></if>
				<th width="16%" >商户名称</th>
				<th width="12%" >商户简称</th>
				<if condition="$home['CHANNEL_MAP_ID'] eq 0"><th width="6%" align='center'>银行卡号</th></if>
				<th width="6%" align='right'>交易金额</th>
				<th width="6%" align='center'>手续费</th>
				<th width="4%" align='center'>结果</th>
				<if condition="$home['CHANNEL_MAP_ID'] eq 0"><th width="4%" align='center'>积分率</th></if>
				<th width="11%" align='center'>系统交易时间</th>
				<th width="11%" align='center'>完成交易时间</th>
			</tr>
		</thead>
		<tbody>
			<volist name='list' key="k" id='vo'>
				<tr target="sid_target" rel="{$vo.SYSTEM_REF}" class="<if condition='$k%2 eq 1'>bg</if>">
					<td <if condition='$vo.SOURCE eq 1'>style="color:red;"</if>><if condition='$vo.SOURCE eq 1'>线上<elseif condition="$vo.SOURCE eq ''"/>网关快捷<else/>线下</if></td>
					<td>{$vo.TRANS_NAME}</td>
					<if condition="$home['CHANNEL_MAP_ID'] eq 0"><td>{$vo.SBRANCH_MAP_ID|get_branch_name=###,$vo['SPARTNER_MAP_ID']}</td></if>
					<td>{:get_shop_data($vo['SHOP_NO'])[SHOP_NAME]}</td>
					<td>{$vo.SHOP_NAMEAB}</td>
					<if condition="$home['CHANNEL_MAP_ID'] eq 0"><td>{$vo.CARD_NO|setCard_no=###}</td></if>
					<td>{$vo.TRANS_AMT|setMoney=###,2,2}</td>
					<td>{$vo.SHOP_MDR|setMoney=###,2,2}</td>
					<td>{$trace_status[$vo[TRACE_STATUS]]}</td>
					<if condition="$home['CHANNEL_MAP_ID'] eq 0"><td>{$vo.PER_FEE|setMoney=###,2,2}%</td></if>
					<td>{$vo.SYSTEM_DATE} {$vo.SYSTEM_TIME}</td>
					<td>{$vo.POS_DATE} {$vo.POS_TIME}</td>
				</tr>
			</volist>
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages"><span><a class="statis" href="javascript:;" note-type="getstatis">点击查看统计</a></span></div>
		<div class="pagination" checkPage="1" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="10" currentPage="{$currentPage}"></div>
	</div>
	<script type="text/javascript">		
		//页面加载执行
		$(document).ready(function(){
			var	navsnum     = $('.tabsPageHeader .navTab-tab .selected').index();
			var tabscontent = $('.tabsPageContent .unitBox:eq('+navsnum+')');
			//点击查看统计
			tabscontent.find('a[note-type="getstatis"]').on('click',  function(){
				tabscontent.find('.pages').html('<span><img class="loading" src="__PUBLIC__/home/images/loading.gif">统计中...</span>');
				
				var	exportdata  = tabscontent.find('#exportdata').val();
				var url 	    = exportdata ? '__ACTION__' + exportdata + '&submit=__ACTNAME__&ajax=loading' : '__ACTION__?submit=__ACTNAME__&ajax=loading';
				$.ajaxSettings.global = false;		//关闭框架loading	
				$.getJSON(url, {}, function(_data) {
					tabscontent.find('.pages').html('<span>共 '+ _data.count +' 条</span><span>　交易总额 '+ _data.amt +' 元</span>');
					$.ajaxSettings.global = true;	//开启框架loading	
				});
			});
			//日期选择
			tabscontent.find('a[note-type="seltime"]').on('click',  function(){
				var begin = $(this).attr('begin'),end = $(this).attr('end');
				tabscontent.find('input[name="post[SYSTEM_DATE_A]"]').val(begin);
				tabscontent.find('input[name="post[SYSTEM_DATE_B]"]').val(end);
			});
		});
	</script>
</div>