<form id="pagerForm" method="post" action="">
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="post[submit]" value="__ACTNAME__"/>
	<input type="hidden" name="post[SYSTEM_DATE_A]" value="{$postdata.SYSTEM_DATE_A}"/>
	<input type="hidden" name="post[SYSTEM_DATE_B]" value="{$postdata.SYSTEM_DATE_B}"/>
	<input type="hidden" name="post[SHOP_NAME]" value="{$postdata.SHOP_NAME}"/>
	<input type="hidden" name="post[MOBILE]" value="{$postdata.MOBILE}"/>
	<input type="hidden" name="post[RECEIVE_NAME]" value="{$postdata.RECEIVE_NAME}"/>
	<input type="hidden" name="post[RECEIVE_MOBILE]" value="{$postdata.RECEIVE_MOBILE}"/>
	<input type="hidden" name="post[TRACE_STATUS]" value="{$postdata.TRACE_STATUS}"/>
	<input type="hidden" name="post[TRANS_AMT_A]" value="{$postdata.TRANS_AMT_A}"/>
	<input type="hidden" name="post[TRANS_AMT_B]" value="{$postdata.TRANS_AMT_B}"/>
	<input type="hidden" id="exportdata" value="{$exportdata}"/><!-- Excel导出 -->
</form>
<div class="pageHeader">
	<form method="post" action="__ACTION__/navTabId/__CONNAME__" onsubmit="return navTabSearch(this);">
		<input type="hidden" name="post[submit]" value="__ACTNAME__">
		<div class="searchBar">
			<div class="header">				
				<p>
					<span>
						<label>转账日期：</label>
						<input class="input01 textInput date f_l readonly" type="text" value="{$postdata.SYSTEM_DATE_A}" name="post[SYSTEM_DATE_A]" readonly="true">
						<a class="inputDateButton f_l" href="#">选择</a>
					</span>
					<code class="code"> ~ </code>
					<span>
						<input class="input01 textInput date f_l readonly" type="text" value="{$postdata.SYSTEM_DATE_B}" name="post[SYSTEM_DATE_B]" readonly="true">
						<a class="inputDateButton f_l" href="#">选择</a>
					</span>
					<span class="sta_day">
						<a href="javascript:;" note-type="seltime" begin="{$timedata.jintian_b}" end="{$timedata.jintian_n}">当日</a>
						<a href="javascript:;" note-type="seltime" begin="{$timedata.zuotian_b}" end="{$timedata.zuotian_n}">昨日</a>
						<a href="javascript:;" note-type="seltime" begin="{$timedata.benyue_b}" end="{$timedata.benyue_n}">本月</a>
						<a href="javascript:;" style="border:none;" note-type="seltime" begin="{$timedata.shangyue_b}" end="{$timedata.shangyue_n}">上月</a>
					</span>
				</p>
				<p class="maxcombox5">
					<label>状态：</label>
					<select class="combox" name="post[STATUS]">
						<option value="">请选择</option>
						<volist name="trace_status" id="vo">
							<option value="{$key}" <if condition="($postdata['STATUS'] eq $key) and ($postdata['STATUS'] neq '')">selected</if>>{$vo}</option>
						</volist>
					</select>
				</p>
				<div class="clear"></div>
				<p>
					<label>商户名称：</label>
					<input class="input01 textInput" type="text" value="{$postdata.SHOP_NAME}" name="post[SHOP_NAME]" maxlength="20">
				</p>
				<p>
					<label>商户手机号：</label>
					<input class="input01 textInput" type="text" value="{$postdata.MOBILE}" name="post[MOBILE]" maxlength="20">
				</p>
				<p>
					<label>收款商户名称：</label>
					<input class="input01 textInput" type="text" value="{$postdata.RECEIVE_NAME}" name="post[RECEIVE_NAME]" maxlength="20">
				</p>
				<p>
					<label>收款商户手机号：</label>
					<input class="input01 textInput" type="text" value="{$postdata.RECEIVE_MOBILE}" name="post[RECEIVE_MOBILE]" maxlength="20">
				</p>
				<p>
					<label>交易金额：</label>
					<input class="input01 textInput f_l ws13" type="text" value="{$postdata.TRANS_AMT_A}" name="post[TRANS_AMT_A]" maxlength="16">
					<code class="code"> ~ </code>
					<input class="input01 textInput f_l ws13" type="text" value="{$postdata.TRANS_AMT_B}" name="post[TRANS_AMT_B]" maxlength="16">
				</p>
			</div>
			<div class="hbtn">
				<button class="ch-btn-skin ch-btn-small ch-icon-search">查 询</button>
				<a rel="__CONNAME__" target="navTab" href="__ACTION__" res_title="false"><button class="ch-btn-skin ch-btn-small ch-icon-refresh">重 置</button></a>
			</div>
		</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar selbutton">
		{:getaction_select(__CONNAME__,__ACTNAME__)}
		<div class="f_r">
			<span class="remark">备注：该功能用于查询涉及到登录者区域内会员或商户的转账流水明细。</span>
		</div>
		<div class="clear"></div>
	</div>
	<table class="table" width="100%" layoutH="209">
		<thead>
			<tr>
				<th width="6%" align='center'>商户名称</th>
				<th width="10%" align='center'>商户手机号</th>
				<th width="6%" align='center'>收款商户名称</th>
				<th width="10%" align='center'>收款商户手机号</th>
				<th width="8%" align='center'>交易金额</th>
				<th width="6%" align='center'>状态</th>
				<th width="10%" align='center'>转账时间</th>
				<th width="10%" align='center'>成功时间</th>
				<th width="10%" align='center'>描述</th>
			</tr>
		</thead>
		<tbody>
			<volist name='list' key="k" id='vo'>
				<tr target="sid_target" rel="{$vo.SYSTEM_REF}" class="<if condition='$k%2 eq 1'>bg</if>">
					<td>{$vo.SHOP_NAME}</td>
					<td>{$vo.MOBILE}</td>
					<td>{$vo.RECEIVE_NAME}</td>
					<td>{$vo.RECEIVE_MOBILE}</td>
					<td>{$vo.TRANS_AMT|setMoney=###,2,2}</td>
					<td><if condition="$vo.STATUS eq 0">成功<elseif condition="$vo.STATUS eq 1"/>处理中<else />失败</if></td>
					<td>{$vo.CREATE_TIME}</td>
					<td>{$vo.SUCC_TIME}</td>
					<td>{$vo.RES}</td>
				</tr>
			</volist>
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages"><span><a class="statis" href="javascript:;" note-type="getstatis">点击查看统计</a></span></div>
		<div class="pagination" checkPage="1" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="10" currentPage="{$currentPage}"></div>
	</div>
	<script type="text/javascript">		
		//页面加载执行
		$(document).ready(function(){
			var	navsnum     = $('.tabsPageHeader .navTab-tab .selected').index();
			var tabscontent = $('.tabsPageContent .unitBox:eq('+navsnum+')');
			//点击查看统计
			tabscontent.find('a[note-type="getstatis"]').on('click',  function(){
				tabscontent.find('.pages').html('<span><img class="loading" src="__PUBLIC__/home/images/loading.gif">统计中...</span>');
				
				var	exportdata  = tabscontent.find('#exportdata').val();
				var url 	    = exportdata ? '__ACTION__' + exportdata + '&submit=__ACTNAME__&ajax=loading' : '__ACTION__?submit=__ACTNAME__&ajax=loading';
				$.ajaxSettings.global = false;		//关闭框架loading	
				$.getJSON(url, {}, function(_data) {
					tabscontent.find('.pages').html('<span>共 '+ _data.count +' 条</span><span>　交易总额 '+ _data.amt +' 元</span>');
					$.ajaxSettings.global = true;	//开启框架loading	
				});
			});
			//日期选择
			tabscontent.find('a[note-type="seltime"]').on('click',  function(){
				var begin = $(this).attr('begin'),end = $(this).attr('end');
				tabscontent.find('input[name="post[SYSTEM_DATE_A]"]').val(begin);
				tabscontent.find('input[name="post[SYSTEM_DATE_B]"]').val(end);
			});
		});
	</script>
</div>