<div class="pageContent">
	<form action="__ACTION__/navTabId/__CONNAME__" method="post" name="form" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
		<input type="hidden" name="post[submit]" value="__ACTNAME__">
		<input type="hidden" name="post[SYSTEM_REF]" value="{$info.SYSTEM_REF}">
		<input type="hidden" name="post[TRACE_INDEX1]" value="{$info.TRACE_INDEX1}">
		<input type="hidden" name="post[TRANS_AMT]" value="{$info.TRANS_AMT}">
		<input type="hidden" name="post[FLAG]" value="">
		<include file="Trace/trace_common_show" />
		<div class="formBar">
			<div class="f_r">
				<a href="javascript:;" class="anniu ch-btn-skin ch-btn-small ch-icon-ok" onclick="checkJujue()">手工撤销拒绝</a>
				<a href="javascript:;" class="anniu ch-btn-skin ch-btn-small ch-icon-ok" onclick="checkSubmit()">手工撤销确认</a>
				<button class="ch-btn-skin ch-btn-small ch-icon-remove close">取 消</button>
			</div>
		</div>
	</form>
	<script type="text/javascript">
		function checkJujue(){
			$('input[name="post[FLAG]"]').val('1');
			$('form[name="form"]').submit();		
		}
		function checkSubmit(){
			$('input[name="post[FLAG]"]').val('2');			
			$('form[name="form"]').submit();		
		}
	</script>
</div>
