<style>
.err_offset_1 .error{left:115px;}
.err_offset_2 .error{left:125px;}
.err_offset_3 .error{left:255px;}
.err_offset_3_1 .error{left:14px;}
.err_offset_4 .error{left:100px;}
.err_offset_4_1 .error{left:135px;}
.err_offset_4_2 .error{left:523px;}
.err_offset_4_3 .error{left:120px;}
.pageFormContent .label_100 label{width:100px;}
.pageFormContent .label_30 label{width:100px;}
</style>
<div class="pageContent">
	<form action="__ACTION__/navTabId/__CONNAME__" method="post" name="form" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
		<input type="hidden" name="pcls[submit]" value="__ACTNAME__">
		<gt name="partner_info.PARTNER_MAP_ID" value="0">
			<input type="hidden" name="pcls[PARTNER_MAP_ID]" value="{$pcls_info.PARTNER_MAP_ID}">
			<input type="hidden" name="pcls[flag]" value="{$pcls_info.flag}">
		</gt>
		<div class="pageFormContent" layoutH="{$Think.config.tk_max_add_lay}">
			<include file="partner_common_show" />	
			<div class="tabs">
				<div class="tabsHeader">
					<div class="tabsHeaderContent">
						<ul>
							<li><a href="javascript:;"><span>结算方式</span></a></li>
						</ul>
					</div>
				</div>
				<div class="tabsContent">
					<include file="pcls_common_edit" />
				</div>
			</div>
		</div>
		<div class="formBar">
			<div class="f_r">
				<a href="javascript:;" class="anniu ch-btn-skin ch-btn-small ch-icon-ok" onclick="checkSubmit()">确 定</a>
				<button class="ch-btn-skin ch-btn-small ch-icon-remove close">取 消</button>
			</div>
		</div>
	</form>
</div>
