<form id="pagerForm" method="post" action="">
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="post[submit]" value="__ACTNAME__"/>
	<input type="hidden" name="post[AD_NAME]" value="{$postdata.AD_NAME}"/>
	<input type="hidden" name="post[STATUS]" value="{$postdata.STATUS}"/>
	<input type="hidden" name="post[CHANNEL_MAP_ID]" value="{$postdata.CHANNEL_MAP_ID}"/>
</form>
<div class="pageHeader">
	<form method="post" action="__ACTION__/navTabId/__CONNAME__" onsubmit="return navTabSearch(this);">
		<input type="hidden" name="post[submit]" value="__ACTNAME__">
		<div class="searchBar">
			<div class="header">
				<p>
					<label>广告名称：</label>
					<input class="input01 textInput" type="text" value="{$postdata.AD_NAME}" name="post[AD_NAME]">
				</p>
				<p>
					<label>渠道简称：</label>
					<select class="combox" name="post[CHANNEL_MAP_ID]">
						<option value="">请选择</option>
						<volist name="channel_list" id="vo">
						<option value="{$vo.CHANNEL_MAP_ID}" <if condition="($postdata['CHANNEL_MAP_ID'] eq $vo[CHANNEL_MAP_ID]) and ($postdata['CHANNEL_MAP_ID'] neq '')">selected</if>>{$vo.CHANNEL_NAMEAB}</option>
						</volist>
					</select>
				</p>
				<p>
					<label>状态：</label>
					<select class="combox" name="post[STATUS]">
						<option value="">请选择</option>
						<option value="0" <if condition="($postdata['STATUS'] eq 0) and ($postdata['STATUS'] neq '')">selected</if>>启用</option>
						<option value="1" <if condition="($postdata['STATUS'] eq 1) and ($postdata['STATUS'] neq '')">selected</if>>关闭</option>
					</select>
				</p>
				<div class="clear"></div>
			</div>
			<div class="hbtn">
				<button class="ch-btn-skin ch-btn-small ch-icon-search">查 询</button>
				<a rel="__CONNAME__" target="navTab" href="__ACTION__" res_title="false"><button class="ch-btn-skin ch-btn-small ch-icon-refresh">重 置</button></a>
			</div>
		</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar selbutton">
		{:getaction_select(__CONNAME__,__ACTNAME__)}
	</div>
	<table class="table" width="100%" layoutH="141">
		<thead>
			<tr>
				<th width="7%" align="center">ID</th>
				<th width="7%" >渠道简称</th>
				<th width="22%" >广告名称</th>
				<th width="22%" >广告分类</th>
				<th width="8%" align="center">图片</th>
				<th width="10%" align="center">地址</th>
				<th width="10%" align="center">排序</th>
				<th width="7%" align="center">状态</th>
			</tr>
		</thead>
		<tbody>
			<volist name='list' key="k" id='vo'>
				<tr target="sid_target" rel="{$vo.AD_ID}" class="<if condition='$k%2 eq 1'>bg</if>">
					<td>{$vo.AD_ID}</td>
					<td>{$vo.CHANNEL_NAMEAB}</td>
					<td>{$vo.AD_NAME}</td>
					<td>{$ad_type_list[$vo[AD_TYPE]]}</td>
					<td><img src="{$vo.AD_PIC}" width="20%"/></td>
					<td>{$vo.AD_URL}</td>
					<td>{$vo.AD_ORDER}</td>
					<td>{$status[$vo[STATUS]]}</td>
				</tr>
			</volist>
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages"><span>共 {$totalCount|default="0"} 条</span></div>
		<div class="pagination" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="10" currentPage="{$currentPage}"></div>
	</div>
</div>