<div class="pageContent">
	<div class="pageFormContent" layoutH="{$Think.config.tk_max_add_lay}">
		<div class="content30">
			<p style="width:100%">
				<label>公司名称：</label>
				<span class="show">{$info.BRANCH_NAME}</span>
			</p>
			<p style="width:66.66%">
				<label>公司简称：</label>
				<span class="show">{$info.BRANCH_NAMEAB}</span>
			</p>
			<p>
				<label>级别：</label>
				<span class="show">{$branch_level[$info[BRANCH_LEVEL]]}</span>
			</p>
			<p style="width:66.66%">
				<label>公司地址：</label>
				<span class="show">{$info.CITY_NO|getcity_name=###}{$info.ADDRESS}</span>
			</p>
			<p>
				<label>公司邮编：</label>
				<span class="show">{$info.ZIP}</span>
			</p>
			<p>
				<label>联系人：</label>
				<span class="show">{$info.MANAGER}</span>
			</p>
			<p>
				<label>联系手机：</label>
				<span class="show">{$info.MOBILE}</span>
			</p>
			<p>
				<label>路由通道：</label>
				<span class="show">{$info.HOST_NAME}</span>
			</p>
			<p>
				<label>联系电话：</label>
				<span class="show">{$info.TEL}</span>
			</p>
			<p>
				<label>联系传真：</label>
				<span class="show">{$info.FAX}</span>
			</p>
			<p>
				<label>状态：</label>
				<span class="show">{$branch_status[$info[BRANCH_STATUS]]}</span>
			</p>
			<!-- <p>
				<label>承保公司：</label>
				<span class="show">{$info.SECURITY_NAME}</span>
			</p> -->
			<div class="clear"></div>
		</div>
		
		<if condition="($info['BRANCH_LEVEL'] eq '') or ($info['BRANCH_LEVEL'] eq 1)"> 
		<div class="tabs">
			<div class="tabsHeader">
				<div class="tabsHeaderContent">
					<ul>
						<li><a href="javascript:;"><span>银行账户</span></a></li>
					</ul>
				</div>
			</div>
			<div class="tabsContent">
				<div class="pageFormContent">
					<div class="content100">
						<p>
							<label>户名：</label>
							<span class="show">{$info.BANKACCT_NAME}</span>
						</p>
						<p>
							<label>账号：</label>
							<span class="show">{$info.BANKACCT_NO}</span>
						</p>
						<p>
							<label>开户行：</label>
							<span class="show">{$info.BANK_NAME}</span>
						</p>
						<p>
							<label>开户行联行号：</label>
							<span class="show">{$info.BANKACCT_BID}</span>
						</p>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
		</if>
	</div>
	<div class="formBar">
		<div class="f_r">
			<button class="ch-btn-skin ch-btn-small ch-icon-remove close">关 闭</button>
		</div>
	</div>
</div>
