<div class="pageContent">
	<form action="__ACTION__/navTabId/__CONNAME__" method="post" name="form" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
		<input type="hidden" name="post[submit]" value="__ACTNAME__">
		<gt name="info.NOTICE_ID" value="0">
			<input type="hidden" name="post[NOTICE_ID]" value="{$info.NOTICE_ID}">
		</gt>
		<div class="pageFormContent" layoutH="{$Think.config.tk_max_add_lay}">
			<div class="content100">
				<p>
					<label>归属：</label>
					<span class="show">{$PARTNER_MAP_ID|get_level_name=###,$BRANCH_MAP_ID}</span>
				</p>
				<p>
					<label>有效日期：</label>
					<span>
						<input type="text" value="{$info.NOTICE_TIME}" class="date" name="post[NOTICE_TIME]" readonly="true" minDate="{:Date('Y-m-d')}"/>
						<a class="inputDateButton f_l" href="#">选择</a>
					</span>
					<code class="code"> ~ </code>
					<span>
						<input type="text" value="{$info.NOTICE_EXP}" class="date" name="post[NOTICE_EXP]" readonly="true" minDate="{:Date('Y-m-d')}"/>
						<a class="inputDateButton f_l" href="#">选择</a>
					</span>
				</p>
				<p>
					<label>公告标题：</label>
					<input type="text" value="{$info.NOTICE_TITLE}" class="required ws70" name="post[NOTICE_TITLE]" maxlength='30'/>
				</p>
				<div>
					<label>公告内容：</label>
					<textarea class="textInput required" name="post[NOTICE_DESC]" style="width:440px;height:100px;" maxlength="200px">{$info.NOTICE_DESC}</textarea>
					<span class="error" for="post[NOTICE_DESC]" style="display: none; top: 224px;left:120px">必填字段</span>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="formBar">
			<div class="f_r">
				<button class="ch-btn-skin ch-btn-small ch-icon-ok">确 定</button>
				<button class="ch-btn-skin ch-btn-small ch-icon-remove close">取 消</button>
			</div>
		</div>
	</form>	
</div>
