<div class="pageContent">
	<div class="pageFormContent" layoutH="{$Think.config.tk_max_add_lay}">
		<div class="content100">
			<p>
				<label>厂商名称：</label>
				<span class="show">{$info.FACTORY_NAME}</span>
			</p>
			<p>
				<label>所在城市：</label>
				<span class="show">{$info.CITY_NO|getcity_name=###}</span>
			</p>
			<p>
				<label>厂商地址：</label>
				<span class="show">{$info.ADDRESS}</span>
			</p>
			<p>
				<label>邮箱：</label>
				<span class="show">{$info.ZIP}</span>
			</p>
			<p>
				<label>联系人：</label>
				<span class="show">{$info.MANAGER}</span>
			</p>
			<p>
				<label>联系人电话：</label>
				<span class="show">{$info.TEL}</span>
			</p>
			<p>
				<label>公司网址：</label>
				<span class="show">{$info.WEB}</span>
			</p>
			<div class="clear"></div>
		</div>
	</div>
	<div class="formBar">
		<div class="f_r">
			<button class="ch-btn-skin ch-btn-small ch-icon-remove close">关 闭</button>
		</div>
	</div>
</div>
