<div class="pageContent">
	<form action="__ACTION__/navTabId/__CONNAME__" method="post" name="form" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
	<gt name="info.MODEL_MAP_ID" value="0">
		<input type="hidden" name="post[submit]" value="model_edit">
		<input type="hidden" name="post[MODEL_MAP_ID]" value="{$info.MODEL_MAP_ID}">
	<else />
		<input type="hidden" name="post[submit]" value="model_add">
	</gt>
		<div class="pageFormContent" layoutH="{$Think.config.tk_max_add_lay}">
			<div class="content100">
				<p>
					<label>厂商名称：</label>
					<select class="combox" name="post[FACTORY_MAP_ID]">
						<volist name="factorysel" id="vo">
							<option value="{$vo.FACTORY_MAP_ID}" <if condition="$vo['FACTORY_MAP_ID'] eq $info['FACTORY_MAP_ID']">selected</if>>{$vo.FACTORY_NAME}</option>
						</volist>
					</select>
				</p>
				<p>
					<label>设备型号：</label>
					<input type="text" value="{$info.MODEL_NAME}" class="required" name="post[MODEL_NAME]" maxlength="20"/>
				</p>
				<p>
					<label>设备类型：</label>
					<select class="combox" name="post[MODEL_TYPE]">
						<volist name="model_type['MODEL_TYPE']" id="vo">
							<option value="{$key}" <if condition="($info['MODEL_TYPE'] eq $key) and ($info['MODEL_TYPE'] neq '')">selected</if>>{$vo}</option>
						</volist>
					</select>
				</p>
				<p>
					<label>通讯方式：</label>
					<select class="combox" name="post[MODEL_COMM]">
						<volist name="model_type['MODEL_COMM']" id="vo">
							<option value="{$key}" <if condition="($info['MODEL_COMM'] eq $key) and ($info['MODEL_COMM'] neq '')">selected</if>>{$vo}</option>
						</volist>
					</select>
				</p>
				<p class="inputcheck">
					<label>打印方式：</label>
					<select class="combox" name="post[MODEL_PRINTER]">
						<volist name="model_type['MODEL_PRINTER']" id="vo">
							<option value="{$key}" <if condition="($info['MODEL_PRINTER'] eq $key) and ($info['MODEL_PRINTER'] neq '')">selected</if>>{$vo}</option>
						</volist>
					</select>
				</p>
				<p>
					<label>进价：</label>
					<input type="text" value="{$info.MODEL_PRICE|setMoney=###,2,2}" class="doubles" name="post[MODEL_PRICE]" maxlength="10"/>　元
				</p>
				<p>
					<label>备注：</label>
					<textarea class="textInput" style="width:400px;height:60px;" name="post[MODEL_REMARK]">{$info.MODEL_REMARK}</textarea>
				</p>
				<div class="clear"></div>
			</div>
		</div>
		<div class="formBar">
			<div class="f_r">
				<button class="ch-btn-skin ch-btn-small ch-icon-ok">确 定</button>
				<button class="ch-btn-skin ch-btn-small ch-icon-remove close">取 消</button>
			</div>
		</div>
	</form>	
</div>
