<style>
.err_offset_1 .error{left:100px;}
.err_offset_2 .error{left:125px;}
.err_offset_3 .error{left:255px;}
.err_offset_4 .error{left:230px;}
.err_offset_5 .error{left:151px;}
.other p label{width:110px;}
.other p code{width:55px;display: inline-block;}
</style>
<div class="pageContent">
	<form action="__ACTION__/navTabId/__CONNAME__" method="post" name="form" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
	<gt name="shop_info.SHOP_MAP_ID" value="0">
		<input type="hidden" name="post[submit]" value="__ACTNAME__">
		<input type="hidden" name="post[SHOP_MAP_ID]" value="{$shop_info.SHOP_MAP_ID}">
	</gt>
	<div class="pageFormContent" layoutH="{$Think.config.tk_max_add_lay}">
		<!-- 商户基本信息 -->
		<include file="shop_common_show" />
		<div class="tabs">
			<div class="tabsHeader">
				<div class="tabsHeaderContent">
					<ul>
						<li><a href="javascript:;"><span>证照信息</span></a></li>
						<li><a href="javascript:;"><span>权限开通</span></a></li>
						<li><a href="javascript:;"><span>扣率信息</span></a></li>
						<li><a href="javascript:;"><span>银行账户</span></a></li>
						<li><a href="javascript:;"><span>代扣账户</span></a></li>
						<li><a href="javascript:;"><span>其他设置</span></a></li>
					</ul>
				</div>
			</div>
			<div class="tabsContent">
				<!-- 商户证照信息 -->
				<include file="scert_common_show" />
				
				<!-- 商户权限信息 -->
				<include file="sauth_common_show" />
				
				<!-- 商户扣率信息 -->
				<if condition="__ACTNAME__ eq 'shop_check'">
					<include file="smdr_check_show" />
				<else />
					<include file="smdr_common_show" />
				</if>
				
				<!-- 商户银行信息 -->
				<include file="sbact_common_show" />

				<!-- 代扣银行 -->
				<include file="sdkb_common_show" />

				<!-- 其他配置 -->
				<include file="scfg_common_show" />
			</div>
		</div>
	</div>
	<div class="formBar">
		<div class="f_r">
			<a href="javascript:;" class="anniu ch-btn-skin ch-btn-small ch-icon-ok" onclick="checkSubmit()">确 定</a>
			<button class="ch-btn-skin ch-btn-small ch-icon-remove close">取 消</button>
		</div>
	</div>
	</form>
	<script type="text/javascript" src="/Public/home/js/check_item.js"></script>
</div>