<form id="pagerForm" method="post" action="">
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="post[submit]" value="shop"/>
	<input type="hidden" name="post[bid]" value="{$postdata.bid}"/>
	<input type="hidden" name="post[pid]" value="{$postdata.pid}"/>
	<input type="hidden" name="post[SHOP_STATUS]" value="{$postdata.SHOP_STATUS}"/>
	<input type="hidden" name="post[MCC_TYPE]" value="{$postdata.MCC_TYPE}"/>
	<input type="hidden" name="post[MCC_CODE]" value="{$postdata.MCC_CODE}"/>
	<input type="hidden" name="post[POS_STATUS]" value="{$postdata.POS_STATUS}"/>
	<input type="hidden" name="post[SHOP_NO]" value="{$postdata.SHOP_NO}"/>
	<input type="hidden" name="post[SHOP_NAME]" value="{$postdata.SHOP_NAME}"/>
	<input type="hidden" name="post[SHOP_MAP_ID]" value="{$postdata.SHOP_MAP_ID}"/>
	<input type="hidden" id="exportdata" value="{$exportdata}"/><!-- Excel导出 -->
</form>
<div class="pageHeader">
	<form method="post" action="{:U('/Home/Shop/shop')}" onsubmit="return navTabSearch(this);">
		<input type="hidden" name="post[submit]" value="shop">
		<div class="searchBar">
			<div class="header">
				<p class="maxcombox">
					<label>商户名称：</label>
					<input class="input01 textInput" type="text" value="{$postdata.SHOP_NAME}" name="post[SHOP_NAME]">
				</p>
				<!--<p class="maxcombox">
					<label>商户简称：</label>
					<input class="input01 textInput" type="text" value="{$postdata.SHOP_NAMEABCN}" name="post[SHOP_NAMEABCN]">
				</p>-->
				<p class="maxcombox">
					<label>&nbsp;商户号：</label>
					<input class="input01 textInput" type="text" value="{$postdata.SHOP_NO}" name="post[SHOP_NO]">
				</p>
				<p class="maxcombox">
					<label>商户身份证号：</label>
					<input class="input01 textInput" type="text" value="{$postdata.LP_ID}" name="post[LP_ID]">
				</p>
				<div class="clear"></div>
				<if condition="$home['CHANNEL_MAP_ID'] eq 0">
				<p class="maxcombox">
					<label style="width: 60px;">MCC类：</label>
					{:getmcc_select($postdata['MCC_TYPE'],$postdata['MCC_CODE'],'post[MCC_TYPE]','post[MCC_CODE]')}
				</p>
				</if>
				<p class="maxcombox3">
					<label>商户状态：</label>
					<select class="combox" name="post[SHOP_STATUS]">
						<option value="">请选择</option>
						<volist name="shop_status" id="vo">
							<option value="{$key}" <if condition="($postdata.SHOP_STATUS eq $key) and ($postdata.SHOP_STATUS neq '')">selected</if>>{$vo}</option>
						</volist>
					</select>
				</p>
				<p class="maxcombox">
					<label>&nbsp;商户ID：</label>
					<input class="input01 textInput" type="text" value="{$postdata.SHOP_MAP_ID}" name="post[SHOP_MAP_ID]">
				</p>
				<div class="clear"></div>
				<p class="maxcombox">
					<label>商户手机：</label>
					<input class="input01 textInput" type="text" value="{$postdata.MOBILE}" name="post[MOBILE]">
				</p>
				<if condition="$home['CHANNEL_MAP_ID'] eq 0">
					<p class="maxcombox">
						<if condition="$home['USER_LEVEL'] eq 4">
							<label style="width: 60px;">备注：</label>
							以下列表为当前合作伙伴推荐商户
							<else />
							<label style="width: 60px;">归属：</label>
							{:get_level_sel($postdata['bid'],'-1','soplv[]',$postdata['pid'],2)}
						</if>
					</p>
					<p>
	                    <label>渠道：</label>
	                    <select class="combox" name="post[CHANNEL_MAP_ID]">
	                    	<option value="">请选择</option>
	                    	<option value="0">自主</option>
	                        <volist name="host_result" id="vo">
	                            <option value="{$key}" <if condition="($postdata['CHANNEL_MAP_ID'] eq $key)">selected</if>>{$vo}</option>
	                        </volist>
	                    </select>
	                </p>
	                <p>
	                    <label>门店码：</label>
	                    <select class="combox" name="post[SHOP_MAP_ID_CODE]">
	                    	<option value="">请选择</option>
	                    	<option value="is not null">门店码</option>
	                    </select>
	                </p>
				</if>
				<div class="clear"></div>
			</div>
			<div class="hbtn">
				<button class="ch-btn-skin ch-btn-small ch-icon-search">查 询</button>
				<a rel="__CONNAME__" target="navTab" href="__ACTION__" res_title="false"><button class="ch-btn-skin ch-btn-small ch-icon-refresh">重 置</button></a>
			</div>
		</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar selbutton">
		{:getaction_select(__CONNAME__,__ACTNAME__)}
	</div>
	<table class="table" width="100%" layoutH="209">
		<thead>
			<tr>
				<th width="4%" align='center'>ID</th>
				<if condition="$home['CHANNEL_MAP_ID'] eq 0"><th width="4%" align='center'>渠道</th></if>
				<th width="9%" align='center'>商户号</th>
				<th width="13%" align="center">商户名称</th>
				<!--<th width="13%">商户简称</th>-->
				<th width="13%" align="center">商户手机号</th>
				<if condition="$home['CHANNEL_MAP_ID'] eq 0"><th width="10%">所在城市</th></if>
				<!--<th width="16%">归属</th>
				<th width="5%">归属集团商户</th>-->
				<th width="5%" align="center">商户状态</th>
				<!--<th width="5%" align="center">装机状态</th>-->
				<th width="12%" align='center'>开通日期</th>
			</tr>
		</thead>
		<tbody>
			<volist name='list' key="k" id='vo'>
				<tr target="sid_target" rel="{$vo.SHOP_MAP_ID}" class="<if condition='$k%2 eq 1'>bg</if>">
					<td>{$vo.SHOP_MAP_ID}</td>
					<if condition="$home['CHANNEL_MAP_ID'] eq 0"><td>{$vo.CHANNEL_MAP_ID|get_channel_name=###}</td></if>
					<td>{$vo.SHOP_NO}</td>
					<td>{$vo.SHOP_NAME}</td>
					<!--<td>{$vo.SHOP_NAMEABCN}</td>-->
					<td>{$vo.MOBILE}</td>
					<if condition="$home['CHANNEL_MAP_ID'] eq 0"><td>{$vo.CITY_NO|getcity_name=###}</td></if>
					<!--<td>{$vo.PARTNER_NAME|default="暂无"}</td>
					<td><neq name='vo["SHOP_LEVEL"]' value='3'>暂无<else />{$vo.SHOP_MAP_ID_P|get_shopp_name=###}</neq></td>-->
					<td>{$shop_status[$vo['SHOP_STATUS']]}</td>
					<!--<td>{$install_status[$vo['INSTALL_FLAG']]|default="未装机"}</td>-->
					<td>{$vo.CREATE_TIME}</td>
				</tr>
			</volist>
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages"><span>共 {$totalCount|default="0"} 条</span></div>
		<div class="pagination" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="10" currentPage="{$currentPage}"></div>
	</div>
	<script type="text/javascript">		
		//页面加载执行
		$(document).ready(function(){
			var	navsnum     = $('.tabsPageHeader .navTab-tab .selected').index();
			var tabscontent = $('.tabsPageContent .unitBox:eq('+navsnum+')');
			//点击查看统计
			tabscontent.find('a[note-type="getstatis"]').on('click',  function(){
				tabscontent.find('.pages').html('<span><img class="loading" src="__PUBLIC__/home/images/loading.gif">统计中...</span>');
				
				var	exportdata  = tabscontent.find('#exportdata').val();
				var url 	    = exportdata ? '__ACTION__' + exportdata + '&submit=__ACTNAME__&ajax=loading' : '__ACTION__?submit=__ACTNAME__&ajax=loading';
				$.ajaxSettings.global = false;		//关闭框架loading	
				$.getJSON(url, {}, function(_data) {
					tabscontent.find('.pages').html('<span>共 '+ _data.count +' 条</span>');
					$.ajaxSettings.global = true;	//开启框架loading	
				});
			});
		});
	</script>
</div>