<div class="pageContent">
	<form action="__ACTION__/navTabId/__CONNAME__" method="post" name="form" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
	<gt name="shop_info.SHOP_MAP_ID" value="0">
		<input type="hidden" name="post[submit]" value="__ACTNAME__">
		<input type="hidden" name="post[SHOP_MAP_ID]" value="{$shop_info.SHOP_MAP_ID}">
	</gt>
	<div class="pageFormContent" layoutH="{$Think.config.tk_max_add_lay}">
		<!-- 商户基本信息 -->
		<include file="shop_common_show" />
			
		<div class="tabs">
			<div class="tabsHeader">
				<div class="tabsHeaderContent">
					<ul>
						<li><a href="javascript:;"><span>扣率信息</span></a></li>
					</ul>
				</div>
			</div>
			<div class="tabsContent">
				<include file="smdr_common_show" />
			</div>
			<if condition="__ACTNAME__ eq 'smdr_check'">
				<div class="tabs">
					<div class="tabsHeader">
						<div class="tabsHeaderContent">
							<ul>
								<li><a href="javascript:;"><span>审核操作</span></a></li>
							</ul>
						</div>
					</div>
					<div class="tabsContent">
						<div class="pageFormContent">
							<div class="content30">
								<p>
									<label>变更审核：</label>
									<span class="show check_font">
										<input type="radio" name="post[CHECK_POINT]" value="4" checked>通过 &nbsp;
										<input type="radio" name="post[CHECK_POINT]" value="5">不通过
									</span>
								</p>
								<p>
									<label>初审人：</label>
									<span class="show">{$Think.session.HOME.USER_NAME}</span>
								</p>
								<p>
									<label>初审日期：</label>
									<span class="show">{:date('Y-m-d H:i')}</span>
								</p>
								<div class="clear"></div>
							</div>
							<div class="content100">
								<p>
									<label>初审意见：</label>
									<textarea style="width:600px;height:95px;" name="post[CHECK_DESC]"></textarea>
								</p>
							</div>
						</div>
					</div>
				</div>
			<else />
				<div class="tabs">
					<div class="tabsHeader">
						<div class="tabsHeaderContent">
							<ul>
								<li><a href="javascript:;"><span>复审操作</span></a></li>
							</ul>
						</div>
					</div>
					<div class="tabsContent">
						<div class="pageFormContent">
							<div class="content30">
								<p>
									<label>初审结果：</label>
									<span class="show check_font">
										<eq name="check_info['CHECK_POINT']" value="4">通过<else />不通过</eq>
									</span>
								</p>
								<p>
									<label>初审人：</label>
									<span class="show">{$check_info.USER_NAME}</span>
								</p>
								<p>
									<label>初审日期：</label>
									<span class="show">{$check_info.CHECK_TIME}</span>
								</p>
								<div class="clear"></div>
							</div>
							<div class="content100">
								<p>
									<label>初审意见：</label>
									<span class="show">{$check_info.CHECK_DESC}</span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs" style="border-top:1px solid #b8d0d6">
					<div class="tabsContent">
						<div class="pageFormContent">
							<div class="content30">
								<p>
									<label>复核结果：</label>
									<span class="show check_font">
										<input type="radio" name="post[CHECK_POINT]" value="0" checked>通过 &nbsp;
										<input type="radio" name="post[CHECK_POINT]" value="3">不通过
									</span>
								</p>
								<p>
									<label>复审人：</label>
									<span class="show">{$Think.session.HOME.USER_NAME}</span>
								</p>
								<p>
									<label>复审日期：</label>
									<span class="show">{:date('Y-m-d H:i')}</span>
								</p>
								<div class="clear"></div>
							</div>
							<div class="content100">
								<p>
									<label>复审意见：</label>
									<textarea style="width:600px;height:95px;" name="post[CHECK_DESC]"></textarea>
								</p>
							</div>
						</div>
					</div>
				</div>
			</if>
		</div>
	</div>
	<div class="formBar">
		<div class="f_r">
			<a href="javascript:;" class="anniu ch-btn-skin ch-btn-small ch-icon-ok" onclick="checkSubmit()">确 定</a>
			<button class="ch-btn-skin ch-btn-small ch-icon-remove close">取 消</button>
		</div>
	</div>
	</form>
	<script type="text/javascript" src="/Public/home/js/check_item.js"></script>
</div>